<link rel="stylesheet" href="{{ 'product-comfort.css' | asset_url }}">

{%- if product.metafields.product.enable_comfort_section == true and section.settings.enable_comfort_section == true -%}
  {% capture spacing_class_list %}
    {{ section.settings.section_top_spacing }} {{ section.settings.section_top_spacing_ipad }} {{ section.settings.section_top_spacing_mobile }} {{ section.settings.section_bottom_spacing }} {{ section.settings.section_bottom_spacing_ipad }} {{ section.settings.section_bottom_spacing_mobile }}
{% endcapture %}
  <div class="media-with-text  {{ spacing_class_list }}" style="background:{{ section.settings.section_bg_color }};">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <div class="row px-lg-4 px-2 d-flex align-items-lg-center flex-wrap">
        {% assign comfortdata = product.metafields.product.comfort_section.value %}
        
          <div class="col-lg-6 col-12 left-content pt-xl-3">
            {%- if comfortdata.title != blank -%}<h2 class="comfortdata-title text-transform-none">{{ comfortdata.title }}</h2>{%- endif -%}
            <div class="row pe-4 row-gap-md-6 row-gap-4">
              {%- for i in (1..4) -%}
                <div class="comfort-item col-sm-6 col-12 d-flex d-sm-block pe-md-3 pe-0">
                  {% capture icon %}icon_{{ i }}{% endcapture %}
                  {% capture content %}content_{{ i }}{% endcapture %}
                    {%- if comfortdata[icon] != blank -%}
                      <div class="comfort-icon">
                        <img src="{{ comfortdata[icon] | image_url: width: 110 }}" width="52" height="52" alt="{{ comfortdata[icon].alt }}">
                      </div>
                    {%- endif -%}
                    {%- if comfortdata[content] != blank -%}
                      <div class="ps-3 ps-sm-0">{{ comfortdata[content] | metafield_tag }}</div>
                    {%- endif -%}
                  </div>
              {%- endfor -%}
            </div>
          </div>
          <div class="col-lg-6 col-12 right-content ps-xl-10 mt-lg-0 mt-8">
            <div class="position-relative">
              {%- if comfortdata.highlight_image != blank -%}
                  <div class="comfort-trust-image d-lg-block d-none">
                    <img src="{{ comfortdata.highlight_image | image_url: width: 300 }}" width="300" height="300" alt="{{ comfortdata.highlight_image.alt }}">
                  </div>
                {% else %}
                  <div class="comfort-trust-image d-lg-block d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" viewBox="0 0 136 136">
                      <path d="M77.4,14.7c-2.4-.5-3-2.1-2.6-3.9l1.5.3c-.3,1.1.1,2,1.5,2.3,1.2.3,1.9-.5,2.1-1.3.2-1-.2-1.8-1.8-2.2l-2.7-.6,1-4.2,5.9,1.3-.3,1.2-4.4-1-.4,1.8,1.7.4c1.5.3,3,1.4,2.5,3.6-.4,1.6-1.6,2.7-3.9,2.2ZM87.7,17.3c-.6-.3-.8-.6-.5-1.2.3-.7.8-.6,1.4-.4.7.3,1,.7.5,1.5l-1.3,2-.9-.4.8-1.6ZM97.6,22.8c-2.4-1.8-1.9-3.7-.3-5.9,1.6-2.2,3.3-3.3,5.7-1.5,2.4,1.8,1.9,3.7.3,5.9-1.6,2.1-3.3,3.3-5.7,1.5ZM98.5,17.8c-1.2,1.6-1.7,2.8-.2,3.9,1.5,1.1,2.5.3,3.7-1.3,1.2-1.6,1.7-2.9.2-4-1.5-1.1-2.5-.2-3.7,1.4ZM108.2,31.9c-1.9-2.3-.8-4.1,1.2-5.8,2.1-1.7,4-2.3,5.9,0,1.9,2.4.9,4.1-1.2,5.8-2.1,1.7-4,2.3-5.9,0ZM110.4,27.3c-1.6,1.3-2.4,2.3-1.2,3.8,1.2,1.4,2.4.9,3.9-.3,1.6-1.3,2.4-2.3,1.2-3.8-1.1-1.4-2.4-.9-3.9.4ZM116.1,43.4c-1.2-2.7.2-4.2,2.7-5.3,2.4-1.1,4.5-1.2,5.7,1.5,1.2,2.8-.2,4.2-2.7,5.3-2.4,1.1-4.5,1.2-5.7-1.6ZM119.4,39.6c-1.8.8-2.9,1.6-2.1,3.3.8,1.7,2.1,1.5,3.9.7,1.9-.8,2.9-1.7,2.1-3.4-.7-1.7-2.1-1.5-3.9-.6ZM121.9,61.9l9,.3v2.3c0,0-6.3,2.4-6.3,2.4-.4.1-.8.3-1.2.4,0,0,.8.3,1.1.5l6,2.8v2.3c0,0-9-.3-9-.3v-1.5c0,0,7.1.3,7.1.3l-7-3.3v-1.5c0,0,7.3-2.7,7.3-2.7l-7.1-.3v-1.5ZM121,79.8l8.6,2.5-.4,1.5-8.6-2.5.4-1.5ZM118.3,88.3l8,4.1-.7,1.4-6.8-3.5-1.6,3-1.1-.6,2.3-4.4ZM112.8,98.6l6.8,5.8-4,4.7-1-.8,3-3.6-1.9-1.6-2.8,3.3-.9-.8,2.8-3.3-2-1.7-3,3.6-1-.8,4-4.7ZM93.8,115.3c2.3-1.1,4-.7,5,1.3l-1.4.7c-.6-1.2-1.6-1.4-3.1-.7-1.2.6-1.7,1.3-1.3,2.1.4.8,1.2.6,2.8.3,2.4-.5,3.6-.6,4.3.8.7,1.5,0,2.8-2.1,3.8-2.2,1.1-3.8.7-4.8-1.2l1.4-.7c.6,1.1,1.5,1.4,2.9.7,1.2-.6,1.6-1.2,1.2-1.9-.4-.8-1.1-.6-2.9-.2-2.3.5-3.5.6-4.1-.8-.7-1.5,0-3,2.2-4.1ZM80.1,120.4c3.4-.6,4.6,1.4,5,3.8.4,2.4,0,4.6-3.4,5.2-3.4.6-4.6-1.3-5-3.8-.4-2.4,0-4.6,3.4-5.2ZM83.5,124.5c-.3-1.8-1-3.2-3.2-2.8-2.2.4-2.4,1.9-2.1,3.7.3,1.8,1,3.2,3.3,2.8,2.2-.4,2.4-1.9,2.1-3.7ZM68.8,122.3l-.6,8.9h-1.5c0-.1.6-7.8.6-7.8l-3.4-.2v-1.3c0,0,5,.4,5,.4ZM57.3,121.2l-2.7,8.6-5.9-1.8.4-1.2,4.5,1.4.7-2.4-4.1-1.3.4-1.2,4.1,1.3.8-2.6-4.5-1.4.4-1.2,5.9,1.8ZM35.8,111.5l-4.1,8.4-1.2-1.1,3.5-6.7-6.6,3.8-1.3-1.2,3.4-6.8-6.5,3.9-1.1-1.1,8.1-4.7,1.3,1.3-3.4,6.8,6.6-3.8,1.3,1.3ZM24.4,100.8l-9.5,1.4-1-1.8,6.1-7.3.8,1.4-1.2,1.4,2.2,3.8,1.8-.3.8,1.4ZM20.6,99.9l-1.8-3.2-3.5,4.1,5.3-.9ZM17.1,87.3l-8.7,2.2-.8-3.1c-.8-3.3.7-4,1.9-4.3,2.1-.6,3.1,1,3.5,2.7l2.3-4.5.5,2-2.5,4.4,3.4-.9.4,1.5ZM12.4,87l-.4-1.7c-.5-1.8-1.4-1.8-2-1.6-.7.2-1.5.7-1,2.4l.4,1.7,3.1-.8ZM13.8,73.7H4.9s0-3.2,0-3.2c0-3.4,1.7-3.7,2.9-3.7,2.2,0,2.7,1.8,2.7,3.5l3.4-3.8v2.1s-3.5,3.6-3.5,3.6h3.5s0,1.6,0,1.6ZM9.3,72.1v-1.8c0-1.8-.8-2.1-1.6-2.1-.7,0-1.6.3-1.6,2.1v1.7s3.2,0,3.2,0ZM13.9,60.6l-7.7-5.7.5-2,9.5-.9-.4,1.6h-1.8c0,.1-1.2,4.4-1.2,4.4l1.5,1.1-.4,1.6ZM11.8,57.3l1-3.5-5.4.4,4.4,3.1ZM18.2,45.9l-7.7-4.6,1-1.7,8.3-.4-5.9-3.6.8-1.3,7.7,4.6-1,1.6-8.4.4,6,3.6-.8,1.3ZM27.7,31.5l-5.4-5.5-1.9,1.8-.9-.9,4.8-4.6.9.9-1.9,1.8,5.4,5.5-1.1,1ZM37.6,23l-1.4-2.3-6.1-3.7,1.4-.8,4.8,3.1-.2-5.7,1.4-.8v7.2c0,0,1.4,2.3,1.4,2.3l-1.4.8ZM57.7,12.3c-1.8.2-2.3-.7-2.4-1.8-.1-1.1.1-2.2,1.9-2.4,1.8-.2,2.3.7,2.5,1.8.1,1.1-.1,2.2-1.9,2.4Z" style="fill: #0F172B;"></path>
                      <path d="M66.6,60.3c0,.2,0,.2.2.2.5.2,1,.5,1.6.7.5.2.5.4.1.8-.4.4-.8.8-1.2,1.3,0,0-.1.1-.2.2-.6.5-1.1,1.2-1.7,1.8-.3.3-.6.6-.9.9-.4.4-.8.8-1.2,1.3-.6.7-1.3,1.3-2,2-.5.6-1.2,1.1-1.7,1.8-.4.5-.9.8-1.3,1.3-.2.2-.4,0-.6,0-.4-.2-.9-.4-1.3-.6-.4-.2-.4-.3-.1-.6.8-1,1.7-1.8,2.6-2.7.3-.4.7-.7,1-1.1.6-.7,1.3-1.4,1.9-2,.5-.6,1.1-1.1,1.5-1.6.8-.9,1.7-1.8,2.5-2.6,0,0,.1-.1.2-.2,0,0,.1-.2.1-.3M36.2,62.8c.5.2.9.5,1.4.8.2.1.4.3.7.3,0,0,0,0,0,0,.4.5,1.1.7,1.6,1,.5.3,1.1.7,1.6.9.7.3,1.4.8,2.1,1.1.7.3,1.3.7,2,1,.5.2.9.5,1.4.7.8.4,1.6.8,2.4,1.1,1.2.5,2.4,1.2,3.6,1.7.5.2,1,.5,1.5.7.5.2.9.5,1.4.6.8.2,1.6.6,2.3.9.8.4,1.7.6,2.5,1,.5.3,1.1.4,1.6.6.5.2,1,.4,1.5.5.2,0,.3.2.3.3M52.5,75.8c.3-1.1-.2-1.7-1-2.2-.3-.2-.7-.4-1.1-.6-.9-.4-1.7-.8-2.6-1.2-.6-.2-1.2-.6-1.8-.8-.6-.2-1.2-.6-1.9-.8-.4-.1-.8-.4-1.3-.6-.6-.3-1.3-.7-1.8-1.1-1.1-.7-2.2-1.3-3.2-2-.4-.3-.9-.6-1.4-.9-.2-.2-.4-.4-.8-.5,0,0-.1-.1-.1-.2,0-.4.2-.8.3-1.2,0-.4.3-.7.3-1.1,0-.2.1-.3.3-.4M35.7,65.1c-.2.4-.2.4.2.6.3.2.5.4.8.6,1.1.8,2.3,1.5,3.4,2.2.6.4,1.2.8,1.9,1.1.5.2.9.5,1.3.7.3.2.7.2,1,.4.5.3,1.1.5,1.7.8.6.3,1.1.5,1.7.8.6.3,1.2.6,1.8.9.4.2.8.5,1.2.7.5.2.8.7,1,1.2,0,.3,0,.5,0,.8M107,71.7c0,.2.2.2.2.3,0,.2.1.4,0,.6,0,0,0,.1,0,.2,0,.4-.1.6-.4.9-.1.1,0,.4-.1.6-.3.6-.7.9-1.2,1.3-.3.3-.7.5-1.1.7-.8.5-1.6.9-2.5,1.2-.6.2-1.2.4-1.8.7-.4.2-.8.3-1.2.4-.6.2-1.1.3-1.7.4-.6.1-1.1.2-1.7.3-.3,0-.6.1-.9,0-.2,0-.3,0-.4.1-.4,0-.8,0-1.3.2-.2,0-.4.1-.5.2-.2.1-.2.3-.1.5,0,.2.2.3.5.2.3,0,.6,0,.9,0,.3,0,.6,0,.9-.1.3,0,.5-.1.8-.3.2-.1.4-.1.5,0,0,.1.2,0,.2,0,.4-.1.9,0,1.3-.2.3-.1.5-.3.7-.5.3-.2.6-.2.8-.1.4,0,.7,0,1.1-.2.6-.2,1.2-.6,1.8-1,.2,0,.4,0,.6,0,.4,0,.7-.2,1.1-.4.6-.3,1.2-.5,1.8-.9.4-.3.8-.7,1.1-1.1.3-.5.8-.9,1-1.5.1-.4.2-.7,0-1M94.7,66.5c.3,0,.6,0,.8,0,0,0,0,0,.1,0,.4-.1.7,0,1,0,.3,0,.6,0,.8,0,.6,0,1.3.2,1.9.2.6,0,1.3.1,1.9.2.5,0,.7.3.9.7,0,.2,0,.4-.1.5-.4.3-.9.6-1.5.8-.7.3-1.3.5-2,.7-.5.2-1,.4-1.5.6-.9.4-1.9.8-2.6,1.5-.3.3-.6.7-.7,1.1-.1.3-.3.6-.4.9-.2.6-.3,1.2-.5,1.7,0,.3-.3.6-.4.9M47.6,75.9c0-.6-.2-1.2-.7-1.5-.6-.3-1.2-.6-1.8-.9-1.1-.5-2.3-1-3.4-1.5-.8-.4-1.6-.8-2.3-1.2-.7-.5-1.5-.9-2.2-1.5-.4-.3-.9-.6-1.3-.9,0,0-.2,0-.3,0M64.3,55.8c-.6-.4-1.3-.7-2.1-.7-.4,0-.8,0-1.2.1-.6.2-1.1.6-1.6.9-.3.2-.4.5-.7.6-.1,0-.2.2-.4.2,0,0,0,0,0,0-.2.5-.6.7-1,1-.3.2-.5.5-.8.7-.8.6-1.6,1.3-2.5,1.9-.6.4-1.3.8-2,1.1-.4.2-.8.4-1.2.6-.6.3-1.3.5-1.9.7-.7.2-1.3.2-2,.1-.7,0-1.3-.3-2-.6-.4-.2-.7-.4-1-.7-.6-.4-1.1-.8-1.6-1.4-.4-.5-.9-.8-1.3-1.3-.5-.5-1.2-.8-1.8-1,0,0-.1,0-.2,0M102,67.5c.5,0,.8,0,1,.5,0,.2,0,.3,0,.5-.2.3-.4.5-.7.7-.5.4-1.1.7-1.6,1-.6.4-1.3.6-2,.9-.8.3-1.6.5-2.3.9-.6.4-1.2.8-1.5,1.6-.4,1-.8,2.1-1.3,3.1,0,0,0,.2,0,.3M46.3,76c.2,0,.4,0,.6-.1.1-.5-.2-1-.6-1.3-.9-.6-2-1-3-1.4-1.1-.5-2.3-1-3.4-1.6-.7-.4-1.3-.8-2-1.2-.6-.4-1.3-.8-1.9-1.3-.1,0-.3-.1-.4-.2M76.1,67.4c-.1,0-.1,0-.2.1-.6.6-1.2,1.2-1.8,1.7-.6.5-1.2,1.1-1.6,1.7-.2.2-.4.4-.6.5-.4.3-.8.7-1.2,1.1-.7.8-1.6,1.4-2.3,2.2-.4.4-.9.4-1.4.3-.4,0-.7-.2-1-.2-.4,0-.6-.2-.5-.7,0,0,0-.1,0-.2M69.3,62.7c-.4.4-.8.8-1.1,1.2-.4.5-.8.9-1.3,1.4-.6.7-1.1,1.3-1.7,1.9-.5.5-.9,1-1.4,1.5-.4.4-.8.8-1.1,1.2-.6.7-1.4,1.4-1.9,2.2,0,0-.1.1-.2.2M106.3,70.7c.1.2,0,.4,0,.6,0,.2-.1.4-.1.7,0,.3-.1.6-.2.9,0,.4-.4.7-.7.8-.5.2-1,.5-1.4.7-.5.3-1.1.5-1.6.7-.7.3-1.3.5-2,.7-.4.1-.8.3-1.2.3-.4,0-.7.2-1.1.3-.7.1-1.4.2-2.1.3-.6,0-1.2.2-1.7.2-.5,0-1,.1-1.5.1-.5,0-1,.2-1.5.2-.2,0-.4,0-.6,0-.9.1-1.9.2-2.9.2-.4,0-.8,0-1.3,0,0,0,0,0,0,0-.4-.2-.8,0-1.2-.1-.2,0-.4,0-.6.1M57.1,59.4c.3.3.8.5,1.2.8.1,0,.3.1.4.2.4.4,1,.5,1.6.6.8.2,1.4,0,2.1-.3.6-.2,1.1-.6,1.7-.7.2,0,.3,0,.5,0,.2,0,.3.1.4.3.2.5,0,.9-.4,1.3-.3.4-.6.7-1,1.1-.5.5-.9,1-1.5,1.4-.7.5-1.3,1.1-1.9,1.7-.8.9-1.8,1.7-2.7,2.6,0,0-.3.1-.4.2M56,57.8c-.4-.1-.5.2-.8.4-.5.4-1,.8-1.6,1.1-1,.6-2.1,1.2-3.3,1.6-.3.1-.7.2-1.1.4-.1,0-.4,0-.6,0-.4,0-.9,0-1.3,0,0,0-.1,0-.2,0M73.7,76.8c.2-.6.4-1.1.5-1.7.3-1.2.7-2.3,1-3.5.2-.7.4-1.3.6-2,0,0,0-.1,0-.2,0-.1,0-.3-.1-.3,0,0-.2,0-.3,0-.3.2-.6.5-.9.8-.7.6-1.3,1.3-2,2-.7.7-1.3,1.3-2,2-.7.7-1.3,1.4-2.1,2.1-.2.2-.4.3-.4.6M71.4,67.7c-.3.2-.6.5-.8.7-.7.7-1.5,1.3-2.3,2-.6.5-1.2,1-1.8,1.5-.3.3-.7.6-1.1.9-.5.4-1,.9-1.5,1.3-.2.2-.4.2-.6,0-.6-.3-1.1-.5-1.7-.8-.2-.1-.5-.2-.7-.3-.5-.2-.5-.2-.5-.7M57,68.9c-.4.3-.7.7-1.2,1-.4.3-.8.5-1.3.5-.5,0-.9,0-1.4-.1-.5-.2-1.1-.4-1.7-.5-.3,0-.6-.2-.9-.3-.3-.1-.6-.2-.9-.3-.4-.2-.8-.4-1.2-.5-.5-.2-.9-.4-1.4-.7-.8-.4-1.5-.8-2.3-1.2-.6-.3-1.1-.6-1.7-.8-.1,0-.2-.1-.3-.2-.5-.3-1-.5-1.5-.8-.6-.3-1.2-.6-1.8-.9-.2,0-.3-.1-.5-.2-.2,0-.4,0-.5.2M78.5,70.8c.2,0,.2-.2.1-.3,0-.4,0-.9,0-1.3,0-.5,0-1,.2-1.5,0-.2,0-.4,0-.6,0-.4.3-.8,0-1.2,0-.1-.2-.2-.2-.3-.4-.2-.7-.4-1.1-.5-.3,0-.6-.2-.9-.3-.3-.1-.5,0-.7.1-.1,0-.3.2-.4.3-.5.5-1.1.9-1.6,1.4-.4.4-.9.8-1.3,1.2-.5.4-.9.8-1.4,1.2-.2.2-.4.3-.6.5-.8.7-1.6,1.4-2.4,2.1-.4.4-.9.7-1.3,1.1-.3.3-.7.5-1,.8,0,0-.1,0-.2,0M37.5,61c.4-.2.7-.5,1.1-.7.9-.4,1.9,0,2.4.7.2.3.5.6.8.8.5.3.9.7,1.5,1,.6.3,1.2.6,1.9.8.3.1.7.3,1.1.3M92,80.3c-.3,0-.5,0-.7.2-.5.5-1.2.6-1.9.5,0,0-.1,0-.2,0-.1,0-.3,0-.3-.1,0,0,0,0-.1-.1-.3-.4-.7-.4-1,0-.1.2-.3.3-.5.3-.4,0-.9,0-1.3,0-.2,0-.4,0-.5-.2-.2-.4-.5-.3-.8-.3s-.7,0-.9.4c0,0,0,0-.2,0-.5,0-.9.1-1.4,0-.2,0-.3,0-.4-.2-.2-.4-.6-.4-.8,0-.3.4-.6.3-1,.3-.3,0-.7,0-1-.1-.2,0-.5,0-.6-.3,0-.1-.2-.1-.3-.2-.1,0-.3,0-.4,0-.1,0-.3,0-.3,0-.2.3-.5.3-.7.2-.4,0-.8,0-1.2,0-.2,0-.4,0-.5-.3,0-.2-.2-.3-.4-.3-.2,0-.2-.2-.2-.3M54.4,77.6s0,0-.1,0c-.5-.3-1-.3-1.5-.2-.3,0-.6,0-.9,0-.2,0-.3-.1-.4,0-.4,0-.9,0-1.3,0-.2,0-.4,0-.7,0-.6,0-1.2-.1-1.8,0-.4-.2-.7-.1-1.1-.1-.7,0-1.3,0-1.8.6-.3.3-.9.4-1.4-.1-.4-.4-.8-.5-1.3-.4-.2,0-.5.1-.7,0M38,79.7c.6,0,1.2.1,1.8.4.4.2,1,.2,1.4.2.6,0,1.1,0,1.7,0,.4,0,.8.2,1.3.1.3,0,.6,0,.8,0,0,0,.1,0,0,.1M63.6,56.4c-.4-.3-.8-.4-1.2-.5-.8-.2-1.4,0-2,.5-.2.2-.3.4-.5.5-.7.6-1.4,1.1-2,1.8-.6.7-1.5,1.2-2.3,1.7-.4.3-.8.5-1.2.8-.5.4-1.2.7-1.8,1-.5.3-1,.4-1.5.8-.1.1-.4.1-.5.2M84.2,67.2c0,.2-.1.1-.2.1-.5-.2-1.1-.1-1.7-.4-.1,0-.3,0-.5,0-.5,0-.9-.3-1.4-.2-.4,0-.6.3-.7.6-.2.6-.2,1.2-.3,1.8,0,.3,0,.6,0,.9-.2.8,0,1.5-.2,2.3,0,.6,0,1.3.2,1.9,0,0,0,.2,0,.3.1.7.4,1.4.7,2,.2.3.3.5.5.8,0,.1.1.2.2.2.3,0,.6.1.8.1.7,0,1.4,0,2.1,0,0,0,.2,0,.2,0M64.5,53.1c0-.1,0-.3,0-.4,0-.2,0-.4-.3-.6,0,0-.1,0-.2-.1-.4-.1-.7-.3-.9-.7-.2-.4-.7-.4-1-.6-.2-.1-.4-.2-.6-.3-.3-.2-.5,0-.6.2-.2.5-.5,1.1-.7,1.6-.3.7-.6,1.3-.9,2-.1.4-.3.7-.5,1.1-.1.3,0,.6.2.8,0,0,.2.2.3.3M101.2,76.6c0,.1-.1.1-.2.2-.6.2-1.2.5-1.9.6,0,0-.2,0-.3,0-.3.1-.5.3-.8.2-.1,0-.2,0-.3.2-.4.6-.9.7-1.5.3-.2-.1-.4-.2-.6-.1-.5.2-1,.1-1.5.2-.6,0-1.1.3-1.6.7-.3.2-.4.2-.6,0-.5-.5-1.1-.4-1.7-.2-.4,0-.8,0-1.3,0-.2,0-.5-.1-.6.2,0,.1-.1.2-.2.3-.3.4-.7.4-1.1.2-.2-.1-.4-.3-.6-.4,0,0-.1-.1-.2,0-.6.2-1.2,0-1.8,0M84,78.8c-.3,0-.6,0-.9,0-.6,0-1.2,0-1.7,0-.2,0-.4,0-.6,0-.6.2-1.2.3-1.8.5-.2,0-.5,0-.7,0-.2,0-.3.1-.5,0M74.6,64.5c-.2-.6-.7-.6-1.1-.8-.8-.4-1.6-.6-2.3-1-.3-.1-.6-.4-1-.4-.2,0-.5-.1-.6.2M38.1,57.7c-.7,0-1.2.3-1.7.8-.5.5-.6,1.1-.9,1.7,0,.2,0,.5,0,.7.1.4.6.6,1.1.4M61.4,79.5c0-.1-.2-.2-.4-.2-.3.1-.6,0-.9,0-.6-.1-1.3-.2-1.9-.4-.3,0-.5-.2-.7-.2-.2,0-.3,0-.5,0M76.2,70.8c0,.4-.2.8-.3,1.3,0,.3-.1.6-.2.9,0,.3,0,.5-.1.8-.1.3-.2.7-.2,1-.1.4.2.8.6,1,.3.1.6,0,.9,0M56.2,75.9c.6,0,1.3.1,1.9,0,.3,0,.6,0,.9.1.7,0,1.3,0,2,.1.7,0,1.4,0,2,.1.3,0,.5,0,.8,0M55.8,75.9c-.9,0-1.8,0-2.7,0-.9,0-1.8,0-2.7,0-.4,0-.9-.2-1.3.1,0,0-.1,0-.2,0-.2-.2-.4-.1-.6,0,0,0-.1,0-.2,0-.3,0-.6-.1-.9,0-.1,0-.2,0-.3,0M39.1,77.2c-.6-.2-1.2-.1-1.8-.4,0,0,0,0,0,0-.7,0-1.2-.4-1.8-.6-.1,0-.2,0-.4-.1M69.7,56.7c-.2-.1-.3,0-.4.2,0,.3-.3.6-.5.9,0,0,0,0-.1,0-.6.1-.7.7-1,1.1-.2.2,0,.5.2.5.6,0,1.1.4,1.6.8.6.4.7.2.9-.3.2-.4.4-.7.8-1,.1-.1.1-.4,0-.5-.2-.2-.5-.4-.8-.5-.2-.1-.3-.3-.2-.5M43.3,75.9c-.7.3-1.5,0-2.2.1-.5,0-1,0-1.6-.1-.5-.2-1.1-.2-1.6-.2-.2,0-.3-.2-.5-.2,0,0-.1,0-.2,0M39.9,78.2c.5,0,1,0,1.5.1.2,0,.4,0,.5,0,.5,0,.9.1,1.2.4.6.4,1.2.5,1.8.3.2,0,.3-.2.5-.2.3-.2.6-.2.9-.2,1,0,1.9,0,2.9.1,1.1,0,2.3,0,3.4.2.4,0,.8,0,1.2,0,.5,0,1,.2,1.5.2.3,0,.7,0,1,.2.4.2.9.2,1.2.6.2.2.5.3.6.5,0,0,.2,0,.3,0,.1,0,.2,0,.2,0M74.7,64.5c-.2.2-.3.5-.5.7-.5.5-1,.9-1.6,1.4-.4.4-.8.7-1.2,1.1M74.9,77c-.3-.1-.6,0-.9-.1-.8,0-1.6,0-2.4-.2-.2,0-.3,0-.5,0-.3,0-.5,0-.8,0-.2,0-.5,0-.8-.1,0,0-.2,0-.2,0M105.9,74.2c0,.2-.2.2-.3.3-1,.6-1.9,1.3-3,1.8-.2,0-.4.1-.6.2-.2,0-.3,0-.4.3M64.3,76.3c.3-.2.6,0,.8,0,.1,0,.3,0,.4,0,.7,0,1.3,0,2,.1.3,0,.6,0,.9,0M35.3,77.2c-.1.3,0,.6.2.8.4.7,1.1,1.2,1.9,1.5.1,0,.2,0,.3.2,0,0,.2,0,.2,0M47,61.3c-.5,0-.9,0-1.4-.1-.6,0-1-.4-1.5-.6-.4-.2-.8-.7-1.1-1-.2-.3-.5-.5-.8-.7-.3-.2-.6-.4-.9-.5-.4-.2-.9-.4-1.4-.5-.5-.1-1-.2-1.5,0,0,0-.1,0-.2,0M75.8,77.2c0,0,0,0,0,0,.1,0,.2,0,.3,0,.9.1,1.8.1,2.7.2.5,0,1,.1,1.5.1.1,0,.3,0,.4,0M64.4,52.1c.4-.1.7,0,1,.2.3.2.7.3,1,.5.1,0,.3.2.4.3,0,.1.2.3,0,.5-.6.6-1.2,1.3-1.7,1.9-.2.2-.3.3-.6.4-.3.2-.6.4-.9.6-.2.1-.2,1-.1,1.2,0,.1.5.2.7.1.3-.2.6-.3.9-.6.2-.2.3-.2.6,0,.5.3,1,.5,1.5.7.3.1.5.3.8.3M78.6,70.8c0,.6-.1,1.1,0,1.7,0,.5,0,.9,0,1.4,0,.4.1.7.1,1.1,0,.5-.3.8-.8.8-.2,0-.5,0-.7,0M45.1,80.3c.3,0,.5,0,.7.1.3.2.6,0,.9,0,.2,0,.5,0,.8-.1,0,0,.2,0,.2,0,.3.1.6,0,.8.2.4.2.8,0,1.2-.1.3,0,.5,0,.7,0,.4,0,.8.2,1.2.1.7-.2,1.4,0,2.1,0,.2,0,.4,0,.6-.1.3-.2.7,0,1,0,.7,0,1.4,0,1.9-.5,0,0,0,0,0,0M35.8,61.4c-.2.1-.2.3-.3.5-.3.8-.6,1.6-.7,2.5,0,.5-.1.9-.1,1.4,0,.2-.1.4,0,.7,0,0,0,.2-.2.2M84.7,64c0,.2-.2.5-.2.8,0,.2,0,.3-.2.5-.1,0-.2.2-.2.4,0,.3,0,.5-.4.6-.4.1-.7,0-.9-.3-.3-.3-.2-.6,0-.9.3-.6.1-1.2,0-1.7,0,0-.1-.1,0-.2.1-.6-.4-.9-.6-1.3-.1-.2-.4-.2-.6-.2M91.2,65.9c0-.3-.4-.3-.6-.3-.7-.2-1.4-.4-2-.6-.4,0-.6-.3-1-.3-.5,0-1.1-.2-1.6-.4-.3-.1-.7,0-1-.3-.1-.1-.3,0-.5,0M61.3,79.8c0,.1.2.2.3.4,0,.2.3.3.5.2.4-.1.9,0,1.3,0,.3,0,.5-.1.6-.3.2-.5.6-.4,1-.3.3,0,.6,0,.9,0,.1,0,.3,0,.5,0,0,0,.2,0,.3,0,.4-.2.8,0,1.2,0,.2,0,.4-.1.7,0M77.6,79.5c-.6,0-1.2.2-1.8.2-.6,0-1.2,0-1.7,0-.5,0-1,0-1.4.1-.2,0-.4,0-.6,0-.3,0-.6.2-.9,0,0,0-.1,0-.2,0-.4.1-.8,0-1.2,0-.2,0-.5,0-.7,0-.1,0-.3.1-.4,0M81.3,61.7c0,0,0,0,0,0-.1,0-.2.3-.4.2-.3,0-.6,0-.9-.2-.1-.2-.3-.3-.4-.5-.2-.4-.6-.5-.9-.7-.4-.2-.9-.4-1.3-.6-.3,0-.4-.4-.6-.6-.4-.4-.8-.6-1.3-.7-.2,0-.4,0-.5,0-.4.2-.4.2-.6-.2-.3-.5-.5-.9-.9-1.3-.3-.3-.6-.5-.8-.7,0,0-.2,0-.3,0-.3.1-.7,0-1,0,0,0-.2,0-.2-.2,0-.1,0-.3,0-.4-.2-.2-.5-.4-.8-.4,0,0-.3,0-.3,0-.1-.1-.2-.3-.2-.5,0-.4,0-.7-.1-1.1,0-.3-.3-.6-.5-.8-.2-.2-.5-.3-.8-.3-.2,0-.3,0-.4.2M64.1,79.8c-.3-.2-.7-.2-1-.2-.5,0-1-.1-1.5-.1,0,0-.1,0-.2,0,0,.3-.3.3-.6.3-.1,0-.2,0-.3.2-.2.4-.6.4-.9.3-.3,0-.7,0-1,.1M103,67.7c.2-.1.4,0,.4,0,.4.4.9.5,1.4.8.6.4,1,1,1.2,1.7,0,.1.1.2.2.3M76.1,63.6c.4.1.8.1,1.3.2.5.1.9.2,1.4.4.2.1.4.2.6.2M60.9,50.3c-.2-.2-.4-.5-.7-.7-.4-.2-.7-.1-1.1.1-.2.2-.3.4-.5.6-.3.4-.2.5.2.5M88.3,65c0,0,0,.2,0,.3.1.7-.1,1.1-.7,1.4-.5.2-1,.3-1.6.4-.6.1-1.2.2-1.8.1M80.9,62.1c0,.4-.3.8-.7,1-.2.1-.3.4-.4.6-.2.2-.2.5-.3.8-.1.2,0,.3.2.5M74.3,60.9c-.2.2-.3.5-.3.8,0,.3-.3.6-.6.6-.3,0-.6-.4-.6-.7,0-.5.2-.9.3-1.3,0-.4.2-.8,0-1.2,0-.2-.1-.3-.2-.4M35.6,65.6c-.2.2-.2.5-.2.7,0,.5,0,.9,0,1.4,0,.4,0,.8.1,1.1,0,.2,0,.4,0,.7,0,.5,0,1.1,0,1.6,0,.4,0,.8,0,1.2,0,.4,0,.9.2,1.3,0,.3.1.6,0,.9M50.6,63.2c-.4,0-.7.2-1.1.4-.3,0-.6.2-.9.2-.2,0-.3.1-.5.1-.6,0-1.1,0-1.7,0M80,63c-.3-.3-.7-.4-1.1-.6-.2,0-.3-.2-.5-.3-.2-.1-.5-.2-.7,0M34.7,66.7c0,.2.1.3,0,.5,0,0,0,0,0,0,.2.7,0,1.4,0,2,0,.7,0,1.3,0,2M36.6,61.7c-.2.2-.3.3,0,.4.3.1.6.4.8.6.3.3.7.5,1,.8.1,0,.2.1.2.3M46.1,75.9c-.4,0-.7.2-1.1,0-.2,0-.4,0-.6,0-.2,0-.5,0-.7,0M77.3,60.1c-.2.3,0,.7,0,1,.1.3.2.7.3,1,0,.2,0,.4-.2.6-.3.3-.5.6-.6,1M80.9,63.9c0-.4.4-.5.6-.8,0,0,.2-.1.2-.3,0-.4-.2-.7-.3-1.1-.2-.5-.5-.6-.9-.8-.4-.2-.8-.3-1.2,0M34.5,71.3c.2,0,.1.2.1.3,0,.6.2,1.2.3,1.8,0,.4.2.8-.1,1.2-.2.4,0,.7,0,1.1,0,.2.1.3,0,.5-.1.4.3,1,.6,1,.5,0,.8.4,1.3.5.7.2,1.5.4,2.2.4,0,0,0,0,0,0M82.6,62.5c.4-.4.4-.4.9-.2.2,0,.4,0,.6.2.3.2.4.4.5.8,0,.2,0,.4.2.6M74.9,59c.3.2.5.5.7.8,0,.1.1.2.1.4,0,.2,0,.4,0,.6,0,.1.1.3,0,.5,0,.2,0,.4.2.5.4.3.7.7,1,1.1M72.5,57.9c.3.2.3.5.3.8-.3.3-.7.5-.8.9M68,54.8c.1.2.1.3.1.5,0,.5,0,1.1-.1,1.6,0,.1,0,.3,0,.4M66.1,56.5c.2.2.4.3.6.4.4.2.7.4,1.1.5.3,0,.3.3.5.5M71.5,80c0,.3.2.6.5.6.4,0,.9,0,1.3,0,.2,0,.3,0,.4-.1.2-.2.4-.3.6-.4M58.4,50.9c0,0-.1,0-.2.1-.2.2-.7,1.3-.7,1.6.2.2.5,0,.7,0M56.7,78.4c-.1,0-.3,0-.3,0-.5-.3-1.1-.4-1.7-.6M73,60.1c-.3,0-.5-.2-.7-.3-.3-.1-.4,0-.7,0-.2.1-.4.3-.7.3-.2,0-.4,0-.5-.2M85.3,64.2c0,.1,0,.3,0,.4,0,.5-.2.7-.8.5M43.5,67.9c0,.2,0,.4,0,.6,0,.3.2.5.5.3,0,0,.1,0,.2-.2M40.9,77.3c-.5,0-1,0-1.5,0M72.3,56.6c0-.2-.4-.5-.6-.5-.2,0-.4,0-.6,0M75.4,59.6c-.2.1-.4.3-.6.4-.1.1-.2.3-.4.4-.2,0-.2.4,0,.5.5.2.9.6,1.5.5M66.9,53.4c.1,0,.3,0,.4,0,.4-.2.6,0,.8.3.2.2.1.5,0,.8,0,.2-.2.3-.3.4-.6.5-1.3,1-1.8,1.7,0,0-.1,0-.2,0-.2,0-.3.2-.4.4M74.3,59.1c-.1.1-.1.3-.1.4,0,.3,0,.7.2,1M76.2,67.2s0,0,.1,0c.4,0,.6.2.5.6-.1.5-.2,1.1-.3,1.6,0,.4-.2.8-.3,1.2M92.9,67c0-.4-.1-.8-.5-1-.4-.2-.8-.3-1.3,0-.2.1-.3.3-.2.5,0,.2.2.5,0,.8.1.1.3.1.4.1M63,52.6c-.2,0-.4,0-.6.2,0,0,0,.2,0,.2.1,0,.3,0,.5,0M93.4,68.4c-.2-.1-.4-.1-.6,0-.2,0-.3,0-.5,0-.1,0-.3-.1-.4,0-.4.2-.7,0-1.1,0M82.8,64.5c-.3-.1-.7-.2-1-.3-.4,0-.8-.3-1.3-.1,0,0-.1,0-.2,0-.2.2-.5.2-.8.2M72.3,57.9c-.2.1-.2.3-.3.5-.2.4-.4.5-.9.3M83.6,62.5c-.1.4,0,.7-.1,1.1,0,.3-.2.6-.5.8M57.6,53.5c0,0-.2,0-.3,0-.1,0-.2,0-.3,0-.2.3-.4.6-.2,1M56.3,56.9c-.4.6-.3,1.3-.3,2M97.1,67.7c-.4,0-.8,0-1.1.1M57.3,54.5c-.1,0-.3,0-.4,0-.2,0-.3,0-.4.3,0,.2,0,.5,0,.7-.1.4-.1.7-.3,1.1M92.1,67.3c-.4,0-.3-.4-.4-.6,0,0,0-.1-.1-.2M41.1,67.2c0,.2,0,.5.3.7.2,0,.3.1.5.1.5,0,.5,0,.6.4M93.1,71.6c-.3,0-.6-.1-1-.2M95.3,70.7c-.3,0-.6-.3-1-.3M57.9,56c-.2,0-.4,0-.6,0-.1,0-.2,0-.3,0M94.2,71.3c-.3,0-.6-.2-.9-.2M75.8,77.1c-.3,0-.5-.1-.8,0,0,0-.1,0-.1,0M69.8,55.7c-.3.2-.2.6-.2.9M71.1,56.7c0,.5.2.8.6,1.1M94,66.4c.1,0,.3,0,.4,0,.1,0,.3,0,.3.2,0,.3.2.3.2.5-.1.3,0,.6.2.9M96,67.9c-.2,0-.4,0-.6,0-.2,0-.3,0-.3.3M92.6,66.1c.4,0,.8,0,1.2.2.2,0,.2.1,0,.3-.1.3,0,.5.1.8,0,.2.2.2.4.2M43.1,68c0,.3.1.5,0,.8M57.5,52.6c-.2.2-.3.5-.3.8M69.2,57.2c.2,0,.3.1.4.2.1,0,.3,0,.4,0M97.5,69.3c-.3,0-.5-.1-.8-.1M88.3,73.4c-.3,0-.5,0-.8,0M98.1,68.4v-.2c0-.4-.2-.5-.6-.5M94.2,68.9c0,.4-.1.4-.6.5M93.2,69.8c0,0,0-.2-.1-.2-.2,0-.3-.1-.5,0M82.6,62.8c.3,0,.5.3.7.4M42.2,66.7c-.2-.1-.4-.1-.6-.3-.2-.1-.4-.2-.7,0M40.7,67.2c0,.3,0,.5.4.4M81.7,63.2c.2.3.1.6,0,.9M35,74.3c.3.1.5.3.7.5.3.2.7.4,1,.5M53.7,64.9c.1,0,.3,0,.4,0,.1,0,.2.1.2.3M97.5,68.8c-.2,0-.4,0-.6-.1M44.4,68.1c-.3-.4-.3-.4-.8-.3-.2,0-.3,0-.5.1-.2,0-.4,0-.4-.4M86,69.5c-.2,0-.5,0-.7,0M56.9,64.7c-.1,0-.2,0-.4,0-.1,0-.3,0-.4,0M63.6,53.5c.2.1.3.3.4.4.2,0,.1-.3.1-.4M40.2,66.9c0,.1,0,.3.1.3.2,0,.4,0,.6-.2M98.7,67.9h.5M97.8,68.8c.3-.1.6,0,.8,0M98.8,68.8c.2-.1.4.1.6,0M34.8,67.6c.2,0,.3.2.5.1M94.8,69.9c.2-.1.4,0,.6.1.2,0,.3,0,.4-.1M68,55.5c-.2,0-.3,0-.5,0-.1,0-.1-.2-.2-.3M98.6,68.4c-.3,0-.5,0-.8,0M92.4,70.1c0,.1,0,.2,0,.3,0,0,0,0-.1.1M97.1,69.8c-.3-.2-.6,0-.8,0,0,0,0,0,0,0M44.1,69.1c-.2,0-.5,0-.7,0M47.5,80.3c0-.2-.2-.2-.3-.2M99.2,69.3c-.2,0-.5,0-.7,0,0,0,0,0,0,.1M41.7,67.4c0,.1,0,.2.2.2.2,0,.3.1.3.3M89.9,71.8c.3,0,.5,0,.8,0M42.4,66.9c0,.3-.2.5-.3.7,0,0,0,0,0,.1M86,80.8c-.1,0-.3,0-.4,0M44.4,68.2c.1.1.1.2.1.4M42.4,67c.1,0,.3,0,.4,0M56.7,56.6c0,.1,0,.2,0,.3-.4,0-.4,0-.4-.3M64.5,52.8h-.3M39.1,78.2c.3,0,.6,0,.7.1M41.7,66.5c0,.2-.3,0-.4.2M62.8,52.1c0,0-.1.2,0,.3M68.3,68.8c.2,0,.3,0,.5,0" style="fill: none; stroke: #0F172B; stroke-linecap: round; stroke-linejoin: round; stroke-width: .5px;"></path>
                    </svg>
                  </div>
              {%- endif -%}

              {%- if comfortdata.image != blank -%}
              {%  comment  %} START - Right side bigger image {% endcomment %}
                {% render 'image',
                    image: comfortdata.image.value,
                    class: 'comfort-trust-image-banner w-100 h-100 object-fit-cover'
                %}
              {%  comment  %} END - Right side bigger image {% endcomment %}
              {%- endif -%} 
            </div>
          </div>
        
      </div>
    </div>
  </div>
{%- endif -%}
{% schema %} 
{
  "name": "Product Comfort Dynamic",
  "class": "product-comfort-section",
  "templates": ["product"],
  "settings": [
    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Enable Comfort Section",
      "id": "enable_comfort_section"
    },
    {
      "type": "header",
      "content": "t:spacing.section_spacing"
    },
    {
      "type": "select",
      "id": "section_top_spacing",
      "label": "t:spacing.desktop_top_spacing",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "spacing-top-xs",
          "label": "t:spacing.tight"
        },
        {
          "value": "spacing-top-sm",
          "label": "t:spacing.standard"
        },
        {
          "value": "spacing-top-md",
          "label": "t:spacing.spacious"
        },
        {
          "value": "spacing-top-lg",
          "label": "t:spacing.extra_spacious"
        }
      ],
      "default": "spacing-top-sm"
    },
    {
      "type": "select",
      "id": "section_top_spacing_ipad",
      "label": "t:spacing.ipad_top_spacing",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "spacing-top-ipad-xs",
          "label": "t:spacing.tight"
        },
        {
          "value": "spacing-top-ipad-sm",
          "label": "t:spacing.standard"
        },
        {
          "value": "spacing-top-ipad-md",
          "label": "t:spacing.spacious"
        },
        {
          "value": "spacing-top-ipad-lg",
          "label": "t:spacing.extra_spacious"
        }
      ],
      "default": "spacing-top-ipad-sm"
    },
    {
      "type": "select",
      "id": "section_top_spacing_mobile",
      "label": "t:spacing.mobile_top_spacing",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "spacing-top-mobile-xs",
          "label": "t:spacing.tight"
        },
        {
          "value": "spacing-top-mobile-sm",
          "label": "t:spacing.standard"
        },
        {
          "value": "spacing-top-mobile-md",
          "label": "t:spacing.spacious"
        },
        {
          "value": "spacing-top-mobile-lg",
          "label": "t:spacing.extra_spacious"
        }
      ],
      "default": "spacing-top-mobile-sm"
    },
    {
      "type": "select",
      "id": "section_bottom_spacing",
      "label": "t:spacing.desktop_bottom_spacing",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "spacing-bottom-xs",
          "label": "t:spacing.tight"
        },
        {
          "value": "spacing-bottom-sm",
          "label": "t:spacing.standard"
        },
        {
          "value": "spacing-bottom-md",
          "label": "t:spacing.spacious"
        },
        {
          "value": "spacing-bottom-lg",
          "label": "t:spacing.extra_spacious"
        }
      ],
      "default": "spacing-bottom-sm"
    },
    {
      "type": "select",
      "id": "section_bottom_spacing_ipad",
      "label": "t:spacing.ipad_bottom_spacing",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "spacing-bottom-ipad-xs",
          "label": "t:spacing.tight"
        },
        {
          "value": "spacing-bottom-ipad-sm",
          "label": "t:spacing.standard"
        },
        {
          "value": "spacing-bottom-ipad-md",
          "label": "t:spacing.spacious"
        },
        {
          "value": "spacing-bottom-ipad-lg",
          "label": "t:spacing.extra_spacious"
        }
      ],
      "default": "spacing-bottom-ipad-sm"
    },
    {
      "type": "select",
      "id": "section_bottom_spacing_mobile",
      "label": "t:spacing.mobile_bottom_spacing",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "spacing-bottom-mobile-xs",
          "label": "t:spacing.tight"
        },
        {
          "value": "spacing-bottom-mobile-sm",
          "label": "t:spacing.standard"
        },
        {
          "value": "spacing-bottom-mobile-md",
          "label": "t:spacing.spacious"
        },
        {
          "value": "spacing-bottom-mobile-lg",
          "label": "t:spacing.extra_spacious"
        }
      ],
      "default": "spacing-bottom-mobile-sm"
    }
  ],
  "presets": [
    {
      "name": "Product Comfort Dynamic",
      "category": "t:categories.content",
      "settings": {
        "section_top_spacing": "spacing-top-md",
        "section_top_spacing_ipad": "spacing-top-ipad-md",
        "section_top_spacing_mobile": "spacing-top-mobile-md",
        "section_bottom_spacing": "spacing-bottom-md",
        "section_bottom_spacing_ipad": "spacing-bottom-ipad-md",
        "section_bottom_spacing_mobile": "spacing-bottom-mobile-md"
      }
    }
  ]
}
{% endschema %}
