{% capture spacing_class_list %}
    {{ section.settings.section_top_spacing }} {{ section.settings.section_top_spacing_ipad }} {{ section.settings.section_top_spacing_mobile }} {{ section.settings.section_bottom_spacing }} {{ section.settings.section_bottom_spacing_ipad }} {{ section.settings.section_bottom_spacing_mobile }}
{% endcapture %}
<section data-account-pages class="{{ spacing_class_list }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-md-9 col-lg-6 mx-lg-0 mx-auto">
                <custom-tabs class="d-block px-4 px-md-6 px-lg-8 px-xl-12">
                                

                    {% if section.settings.heading != blank %}<h2 class="h1 text-center mb-4">{{ section.settings.heading }}</h2>{% endif %}

                    <div class="d-flex gap-2 mb-6 account-tabs list-unstyled justify-content-center" role="tablist">
                        <button class="tablink account-login active"  data-toggle="tab" id="open-logintab" role="tab" aria-selected="true" aria-expanded="true" aria-controls="login" data-target="#login">
                            <span class="login-label">{{- 'customer.login_page.title' | t -}}</span>
                            <span class="reset-label">{{- 'customer.login_page.reset_password' | t -}}</span>
                        </button>

                        <button class="tablink account-register" data-toggle="tab" id="open-registertab" role="tab" aria-selected="false" aria-expanded="false"  aria-controls="register"  data-target="#register">
                            {{- 'customer.register.title' | t -}}
                        </button>
                    </div>


                    <div id="accountTabs">
                        <div class="tab-content text-start" id="accountTabsContent">
                            <div class="tab-pane tabcontent open" id="login" role="tabpanel" aria-labelledby="open-logintab"  aria-hidden="false" data-tabpanel>
                                {% render 'form-account-login' %}
                                
                                {%- if shop.checkout.guest_login -%}
                                    <div>
                                        <hr>
                                            <h2>{{ 'customer.login_page.guest_title' | t }}</h2>
                                        {%- form 'guest_login' -%}
                                            <button type="submit" class="btn btn-primary"> {{ 'customer.login_page.guest_continue' | t }} </button>
                                        {%- endform -%}
                                    </div>
                                {%- endif -%}

                                {% render 'form-account-recover' %}
                            </div>
                            <div class="tab-pane tabcontent" id="register" role="tabpanel" aria-labelledby="open-registertab"  aria-hidden="true" data-tabpanel>
                                {% render 'form-account-register' %}
                            </div>
                        </div>
                    </div>
                </custom-tabs>
            </div>

            <div class="col-lg-6 d-none d-lg-flex">
                {%- if section.settings.image != blank -%}
                    <div class="account-banner d-flex">
                        <img
                            srcset="
                            {%- if section.settings.image.width >= 650 -%}{{ section.settings.image | image_url: width: 650 }} 550w,{%- endif -%}
                            {%- if section.settings.image.width >= 780 -%}{{ section.settings.image | image_url: width: 780 }} 650w,{%- endif -%}
                            {%- if section.settings.image.width >= 900 -%}{{ section.settings.image | image_url: width: 900 }} 750w,{%- endif -%}
                            {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 1000 }} 850w,{%- endif -%}"
                            src="{{ section.settings.image | image_url: width: 50 }}"
                            sizes="(min-width: {{ settings.container_width }}) {{ settings.container_width | minus: 200 | divided_by: 2 }}px, (min-width: 768px) calc((100vw - 130px) / 2), 100vw"
                            alt="{{ section.settings.image.alt | default: shop.name }}"
                            class="w-100"
                            loading="lazy"
                            width="{{ section.settings.image.width | divided_by: 3 }}"
                            height="{{ section.settings.image.height | divided_by: 3 }}"
                        >
                    </div>
                {%- else -%}
                    {% render 'placeholder-image' %}
                {%- endif -%}           
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Login",
        "class": "section-login",
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "fluid_layout",
                "label": "Full Width Layout?",
                "default": false
            },
            {
                "type": "header",
                "content": "t:spacing.section_spacing"
            },
            {
                "type": "select",
                "id": "section_top_spacing",
                "label": "t:spacing.desktop_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_ipad",
                "label": "t:spacing.ipad_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_mobile",
                "label": "t:spacing.mobile_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-mobile-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing",
                "label": "t:spacing.desktop_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_ipad",
                "label": "t:spacing.ipad_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_mobile",
                "label": "t:spacing.mobile_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-mobile-sm"
            },
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "Page Heading",
                "default": "Welcome!"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Select Image",
                "info": "For Better Viewing Use Example dimensions: 775*735 / Aspect Ratio: 1.05"
            }
        ]
    }
{% endschema %}
