{% capture spacing_class_list %}
    {{ section.settings.section_top_spacing }} {{ section.settings.section_top_spacing_ipad }} {{ section.settings.section_top_spacing_mobile }} {{ section.settings.section_bottom_spacing }} {{ section.settings.section_bottom_spacing_ipad }} {{ section.settings.section_bottom_spacing_mobile }}
{% endcapture %}

<section data-section-id="{{ section.id }}" class="{{ spacing_class_list }} {{ section.settings.custom_class }} index-removel" style="background:{{ section.settings.section_bg_color }};">
    <div class="{% if section.settings.container_width == 'small_container_layout' %}container-small{% endif %}{% if section.settings.container_width == 'container' %}container{% endif %}{% if section.settings.container_width == 'fluid_layout' %}container-fluid{% endif %}">  
        {% if section.settings.text != blank %}
            <div class="heading-block {{ section.settings.custom_class }} {{ section.settings.text_size }}">
                {{ section.settings.text }}
            </div>
        {% endif %}
    {%- for block in section.blocks -%}
        {% render block %}
    {%- endfor -%}
    </div>
</section>
<style>
    klarna-placement
    {
        display: flex;
    }
</style>
<script>
    customElements.whenDefined('klarna-placement').then(() => {
      const klarnaElements = document.querySelectorAll('klarna-placement');
      klarnaElements.forEach(klarnaapp => {
        if (klarnaapp && klarnaapp.shadowRoot) {
          const style = document.createElement('style');
          style.textContent = `
              @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
              .text-wrapper, p, span, strong, b, .link
              {
                  font-size: 13px !important;
                  font-weight: 400 !important;
                  color: #646465 !important;
                  line-height: 1.7 !important;
                  letter-spacing: -0.01em !important;
                  font-family: Inter !important;
              }
                .link
                {
                    text-transform: capitalize !important;
                }
              .badge svg
              {
                  width: 55px !important;
                  height: auto !important;
              }
              .container.custom, .container.default
              {
                  padding: 0 !important;
                  border: none !important;
                  background: transparent !important;
              }
              .container.default :is(.text-wrapper, p, span, strong, b, .link)
              {
                  font-size: 11px !important;
              }
              .container.default
              {
                flex-direction: row !important;
                gap: 15px !important;
              }
          `;
          klarnaapp.shadowRoot.appendChild(style);
        }
      });
    });
</script>
{% schema %}
    {
        "name": "Apps",
        "tag": "section",
        "settings": [
            {
                "type": "header",
                "content": "Container"
            },
            {
                "type": "select",
                "id": "container_width",
                "label": "Container Width",
                "options": [
                    {
                        "value": "container",
                        "label": "Container"
                    },
                    {
                        "value": "small_container_layout",
                        "label": "Small Container"
                    },
                    {
                        "value": "fluid_layout",
                        "label": "Full Width Layout"
                    }
                ],
                "default": "container"
            },
            {
                "type": "text",
                "id": "custom_class",
                "label" : "Add Custom Class"
            },
            {
                "type": "header",
                "content": "t:spacing.section_spacing"
            },
            {
                "type": "select",
                "id": "section_top_spacing",
                "label": "t:spacing.desktop_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_ipad",
                "label": "t:spacing.ipad_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_mobile",
                "label": "t:spacing.mobile_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-mobile-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing",
                "label": "t:spacing.desktop_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_ipad",
                "label": "t:spacing.ipad_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_mobile",
                "label": "t:spacing.mobile_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-mobile-sm"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "select",
                "id": "text_size",
                "label": "Font Size",
                "options": [
                    {
                        "value": "h1-display",
                        "label": "H1-Display"
                    },
                    {
                        "value": "h1",
                        "label": "H1"
                    },
                    {
                        "value": "h2",
                        "label": "H2"
                    },
                    {
                        "value": "h3",
                        "label": "H3"
                    },
                    {
                        "value": "h4",
                        "label": "H4"
                    },
                    {
                        "value": "h5",
                        "label": "H5"
                    },
                    {
                        "value": "h6",
                        "label": "H6"
                    },
                    {
                        "value": "fs-xs",
                        "label": "Extra Small"
                    },
                    {
                        "value": "fs-sm",
                        "label": "Small"
                    },
                    {
                        "value": "fs-md",
                        "label": "Medium"
                    },
                    {
                        "value": "fs-base",
                        "label": "Default"
                    },
                    {
                        "value": "fs-lg",
                        "label": "Large"
                    },
                    {
                        "value": "fs-xl",
                        "label": "Extra Large"
                    },
                    {
                        "value": "",
                        "label": "Initial"
                    }
                ],
                "default": ""
            }
            
        ],
        "blocks": [
            {
                "type": "@app"
            }
        ],
        "presets": [
            {
                "name": "Apps"
            }
        ]
    }
{% endschema %}
