{% stylesheet %}
    .section-resource-list {
        row-gap: var(--gap);
    }
  
    .resource-list--carousel-mobile {
        display: block;
        @media screen and (width >= 750px) {
            display: none;
        }
    }
  
    .resource-list {
        --resource-list-column-gap: min(var(--resource-list-column-gap-mobile));
        --resource-list-row-gap: min(var(--resource-list-row-gap-mobile));
        --resource-list-columns:var(--resource-list-columns-mobile);
    }
  
      
    @media (min-width: 768px) {
        .resource-list {
            --resource-list-column-gap: min(var(--resource-list-column-gap-ipad));
        --resource-list-row-gap: min(var(--resource-list-row-gap-ipad));
        --resource-list-columns:var(--resource-list-columns-ipad);
        }
    }
    @media (min-width: 1200px) {
        .resource-list {
            --resource-list-columns:var(--resource-list-columns-desktop);
            --resource-list-column-gap: var(--resource-list-column-gap-desktop);
            --collection-list-row-gap: var(--resource-list-row-gap-desktop);
        }
    }

    .resource-list--grid {
        width: 100%;
        display: grid;
        column-gap: var(--resource-list-column-gap);
        row-gap: var(--resource-list-row-gap);
        grid-template-columns: var(--resource-list-columns);
    }
  
    .resource-list__item {
        height: 100%;
        text-decoration: none;
        display:grid;
    }

  {% endstylesheet %}


{% liquid 
    assign product_exclude_tag = settings.product_exclude_tag_text
    assign featured_collection = section.settings.featured_collection
    assign show_product = section.settings.max_products 


    case section.settings.layout_type
    when 'grid'
      assign classes = 'resource-list--grid'
      capture styles
        echo '--resource-list-column-gap-desktop: ' | append: section.settings.columns_gap | append: 'px;'
        echo '--resource-list-row-gap-desktop: ' | append: section.settings.rows_gap | append: 'px;'
        echo '--resource-list-column-gap-mobile: ' | append: section.settings.columns_gap_mobile | append: 'px;'
        echo '--resource-list-row-gap-mobile: ' | append: section.settings.rows_gap_mobile | append: 'px;'
        echo '--resource-list-columns: repeat(' | append: section.settings.columns | append: ', 1fr);'
        echo '--resource-list-columns-mobile: repeat(' | append: section.settings.mobile_columns | append: ', 1fr);'
      endcapture
  endcase
%}

{% capture spacing_class_list %}
    {{ section.settings.section_top_spacing }} {{ section.settings.section_top_spacing_ipad }} {{ section.settings.section_top_spacing_mobile }} {{ section.settings.section_bottom_spacing }} {{ section.settings.section_bottom_spacing_ipad }} {{ section.settings.section_bottom_spacing_mobile }}
{% endcapture %}

<section data-section-id="{{ section.id }}" id="{{ section.id }}" class="{{ spacing_class_list }} overflow-hidden {% if featured_collection == empty or featured_collection == blank or featured_collection.products_count == 0 %} empty--global-featured-collection-section{% endif %}" style="background:{{ section.settings.section_bg_color }};">
    
    <div class="{% if section.settings.fluid_layout %}{{section.settings.container_width}}{% else %}container{% endif %}">     
        <div class="row {{ section.settings.align_items }} {{ section.settings.justify_content }}">
            {%- content_for 'block', type: '_section-header', id: 'static-section-header' -%}
        </div>      
    </div> 

    <div class="{% if section.settings.fluid_layout %}{{section.settings.container_width}}{% else %}container{% endif %} {% if section.settings.right_side_fullwidth %}right-outside-container {% endif %}">
        {% if featured_collection == empty or featured_collection.products_count == 0 %}
            {%- render 'onboarding-featured-products' -%}
        {% else %}

        {% case section.settings.layout_type %}
            {% when 'grid' %}
                <div class="resource-list resource-list--{{ section.id }}  {{ classes }}" style="{{ styles }}"{% if section.settings.layout_type == 'grid' %}data-testid="resource-list-grid"{% endif %}>
                    {% for product in featured_collection.products limit: show_product %}
                        {% unless product.tags contains product_exclude_tag %}
                            <div class="resource-list__item">
                                {% content_for "block", type: "product-card", id: "static-product-card", closest.product: product %}
                            </div>
                        {% endunless %}
                    {% endfor %}
                </div>
            {% when 'carousel' %}    
                <div class="d-flex flex-column w-100">
                    {%- if section.settings.nav_scrollbar -%}
                        <div class="order-2 swiper-scrollbar swiper-scrollbar-{{ section.id }} {{ section.settings.scrollbar_color }} {{ section.settings.scrollbar_visible }} mt-6"></div>
                    {%- endif -%}
                    {%- if section.settings.nav_dots -%}
                        <div class="swiper-pagination order-2 mt-6 swiper-pagination-{{ section.id }} {{ section.settings.pagination_visible }} {{ section.settings.pagination_color }}"></div>
                    {%- endif -%}

                    <div class="swiper-wrapper__custom">

                        {%- if section.settings.nav_arrows -%}
                            <div class="custom-swiper-navigation {{ section.settings.nav_arrows_color }} {{ section.settings.nav_arrows_outside }} {{ section.settings.nav_arrows_visible }} {{ section.settings.nav_arrows_size }}">
                                <button class="swiper-button-prev button-prev-{{ section.id }}"><svg aria-hidden="true" focusable="false"><use href="#icon-swiper-arrow-left"></use></svg></button>
                                <button class="swiper-button-next button-next-{{ section.id }}"><svg aria-hidden="true" focusable="false"><use href="#icon-swiper-arrow-right"></use></svg></button>
                            </div>
                        {%- endif -%}

                        <swiper-container class="d-block position-relative"
                            slides-per-view="{{ section.settings.slides_per_view_mobile }}" 
                            space-between="{{ section.settings.slides_spacing_mobile }}" 
                            speed="500" 
                            loop="false"
                            watch-slides-progress="true"
                            watch-slides-visibility="true"
                            threshold="20" 
                            grabCursor="true"
                            {%- if section.settings.nav_dots -%}
                                pagination='{
                                    "el": ".swiper-pagination-{{ section.id }}",
                                    "clickable": true,
                                    "type": "bullets"
                                }'
                            {%- endif -%}
                            {%- if section.settings.nav_scrollbar -%}
                                scrollbar='{
                                    "el": ".swiper-scrollbar-{{ section.id }}"
                                }'
                            {%- endif -%}
                            {%- if section.settings.nav_arrows -%}
                                navigation='{
                                    "nextEl": ".button-next-{{ section.id }}",
                                    "prevEl": ".button-prev-{{ section.id }}"
                                }'
                            {%- endif -%}
                            breakpoints='{
                                "200": {
                                    "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                                    "spaceBetween": {{ section.settings.columns_gap_mobile }}
                                },
                                "768": {
                                    "slidesPerView": {{ section.settings.slides_per_view_ipad }},
                                    "spaceBetween": {{ section.settings.columns_gap_ipad }}
                                },
                                "1200": {
                                    "slidesPerView": {{ section.settings.slides_per_view }},
                                    "spaceBetween": {{ section.settings.columns_gap }}
                                }
                            }'
                        >
                            {% for product in featured_collection.products limit: show_product %}
                                {% unless product.tags contains product_exclude_tag %}
                                    <swiper-slide class="swiper-slide" lazy="true">
                                        {% content_for "block", type: "product-card", id: "static-product-card", closest.product: product %}
                                    </swiper-slide>
                                {% endunless %}
                            {% endfor %}
                        </swiper-container>
                    </div>    
                </div>    
            {% endcase %}
        {% endif %}
    </div>
    {% if section.blocks.size > 0 %}
        <div class="{% if section.settings.fluid_layout %}{{section.settings.container_width}}{% else %}container{% endif %}">     
            <div class="row {{ section.settings.align_items }} {{ section.settings.justify_content }}">
                {%  content_for 'blocks' %}
            </div>      
        </div> 
    {% endif %}
</section>

{% schema %}
    {
        "name": "t:names.product_list",
        "class": "featured-collection-products",
        "blocks": [{ "type": "@theme" }, { "type": "@app" }],
        "disabled_on": {
          "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "fluid_layout",
                "label": "Full Width Layout",
                "default": false
            },
            {
                "type": "select",
                "id": "container_width",
                "label": "Container Width",
                "visible_if": "{{ section.settings.fluid_layout }}",
                "options": [
                    {
                        "value": "container-small",
                        "label": "Small Container"
                    },
                    {
                        "value": "container-fluid",
                        "label": "Full Width Layout"
                    }
                ],
                "default": "container-fluid"
            },
            {
                "type": "checkbox",
                "id": "right_side_fullwidth",
                "label": "Right Side Out of Container",
                "default": false
            },
            {
                "type": "header",
                "content": "t:spacing.section_spacing"
            },
            {
                "type": "select",
                "id": "section_top_spacing",
                "label": "t:spacing.desktop_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_ipad",
                "label": "t:spacing.ipad_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_mobile",
                "label": "t:spacing.mobile_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-mobile-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing",
                "label": "t:spacing.desktop_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_ipad",
                "label": "t:spacing.ipad_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_mobile",
                "label": "t:spacing.mobile_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-mobile-sm"
            },
            {
                "type": "header",
                "content": "Collection"
            },
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "t:settings.collection"
            },
            {
                "type": "select",
                "id": "layout_type",
                "label": "t:settings.layout_type",
                "options": [
                    {
                        "value": "grid",
                        "label": "t:options.grid"
                    },
                    {
                        "value": "carousel",
                        "label": "t:options.carousel"
                    }
                ],
                "default": "grid"
            },
            {
                "type": "range",
                "id": "max_products",
                "label": "t:settings.product_count",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 8
            },
            {
                "type": "range",
                "id": "columns",
                "label": "t:settings.columns",
                "min": 1,
                "max": 8,
                "step": 1,
                "default": 4,
                "visible_if": "{{ section.settings.layout_type == 'grid' }}"
            },
            {
                "type": "range",
                "id": "ipad_columns",
                "label": "t:settings.Ipad_columns",
                "min": 1,
                "max": 4,
                "step": 1,
                "default": 3,
                "visible_if": "{{ section.settings.layout_type == 'grid' }}"
            },
            {
                "type": "range",
                "id": "mobile_columns",
                "label": "t:settings.mobile_columns",
                "min": 1,
                "max": 3,
                "step": 1,
                "default": 2,
                "visible_if": "{{ section.settings.layout_type == 'grid' }}"
            },
            {
                "type": "range",
                "id": "slides_per_view",
                "label": "t:slider.slides_view_desktop",
                "min": 1,
                "max": 8,
                "step": 0.1,
                "default": 4,
                "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "range",
                "id": "slides_per_view_ipad",
                "label": "t:slider.slides_view_ipad",
                "min": 1,
                "max": 8,
                "step": 0.1,
                "default": 3.2,
                "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "range",
                "id": "slides_per_view_mobile",
                "label": "t:slider.slides_view_mobile",
                "min": 1,
                "max": 8,
                "step": 0.1,
                "default": 2,
                "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "range",
                "id": "columns_gap",
                "label": "t:settings.horizontal_gap",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "default": 30,
                "visible_if": "{{ section.settings.layout_type == 'grid' or section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "range",
                "id": "columns_gap_ipad",
                "label": "t:settings.horizontal_gap_ipad",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "px",
                "default": 20,
                "visible_if": "{{ section.settings.layout_type == 'grid' or section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "range",
                "id": "columns_gap_mobile",
                "label": "t:settings.horizontal_gap_mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "default": 15,
                "visible_if": "{{ section.settings.layout_type == 'grid' or section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "range",
                "id": "rows_gap",
                "label": "t:settings.vertical_gap",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "default": 30,
                "visible_if": "{{ section.settings.layout_type == 'grid'}}"
            },
            {
                "type": "range",
                "id": "rows_gap_ipad",
                "label": "t:settings.vertical_gap_ipad",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "px",
                "default": 20,
                "visible_if": "{{ section.settings.layout_type == 'grid'}}"
            },
            {
                "type": "range",
                "id": "rows_gap_mobile",
                "label": "t:settings.vertical_gap_mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "default": 15,
                "visible_if": "{{ section.settings.layout_type == 'grid'}}"
            },
            {
                "type": "header",
                "content": "Styling"
            },
            {
                "type": "color_background",
                "id": "section_bg_color",
                "label": "t:settings.background_color",
            },
            {
                "type": "select",
                "id": "ratio",
                "label": "Image ratio",
                "options": [
                    {
                        "value": "square",
                        "label": "Square"
                    },
                    {
                        "value": "landscape",
                        "label": "Landscape"
                    },
                    {
                        "value": "portrait",
                        "label": "Portrait"
                    }
                ],
                "default": "square"
            },
            {
                "type": "checkbox",
                "id": "button_style",
                "label": "Button show on card hover",
                "info": "This will work on only product card."
            },
            {
                "type": "select",
                "id": "button_position",
                "label": "Hover button position",
                "options": [
                    {
                        "value": "bottom_image",
                        "label": "Bottom Product Image"
                    },
                    {
                        "value": "card_bottom",
                        "label": "Bottom Product Card"
                    }
                ],
                "default": "card_bottom"
            },
            {
                "type": "header",
                "content": "Carousel Slider Options",
                "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "checkbox", 
                "id": "nav_arrows",
                "label": "t:slider.navigation_arrows",
                "default": true,
                "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "select", 
                "id": "nav_arrows_visible",
                "label": "t:slider.navigation_arrows_visible",
                "visible_if": "{{ section.settings.nav_arrows == true and section.settings.layout_type == 'carousel' }}",
                "options": [
                    {
                        "value": "show_only_desktop",
                        "label": "t:slider.hide_desktop"
                    },
                    {
                        "value": "show_only_mobile",
                        "label": "t:slider.hide_mobile"
                    },
                    {
                        "value": "both",
                        "label": "t:slider.both"
                    }
                ],
                "default": "both"
            },
            {
                "type": "select",
                "id": "nav_arrows_color",
                "label": "t:slider.navigation_arrows_color",
                "visible_if": "{{ section.settings.nav_arrows == true and section.settings.layout_type == 'carousel' }}",
                "options": [
                    {
                        "value": "light-arrow",
                        "label": "t:slider.light"
                    },
                    {
                        "value": "",
                        "label": "t:slider.dark"
                    }
                ],
                "default": ""
            },
            {
                "type": "select",
                "id": "nav_arrows_size",
                "label": "t:slider.navigation_arrows_size",
                "visible_if": "{{ section.settings.nav_arrows == true and section.settings.layout_type == 'carousel'  }}",
                "options": [
                    {
                        "value": "arrow-small",
                        "label": "t:slider.size_small"
                    },
                    {
                        "value": "",
                        "label": "t:slider.size_default"
                    }
                ],
                "default": ""
            },
            {
                "type": "select", 
                "id": "nav_arrows_outside",
                "label": "t:slider.navigation_arrows_position",
                "visible_if": "{{ section.settings.nav_arrows == true and section.settings.layout_type == 'carousel' }}",
                "options": [
                    {
                        "value": "inside",
                        "label": "t:slider.navigation_arrows_inside"
                    },
                    {
                        "value": "outside",
                        "label": "t:slider.navigation_arrows_outside"
                    }
                ],
                "default": "inside"
            },
            {
                "type": "checkbox",
                "id": "nav_dots",
                "label": "t:slider.pagination",
                "default": false,
                "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "select", 
                "id": "pagination_visible",
                "label": "t:slider.pagination_visible",
                "visible_if": "{{ section.settings.nav_dots == true  and section.settings.layout_type == 'carousel' }}",
                "options": [
                    {
                        "value": "show_only_desktop",
                        "label": "t:slider.hide_desktop"
                    },
                    {
                        "value": "show_only_mobile",
                        "label": "t:slider.hide_mobile"
                    },
                    {
                        "value": "both",
                        "label": "t:slider.both"
                    }
                ],
                "default": "both"
            },
            {
                "type": "select",
                "id": "pagination_color",
                "label": "t:slider.pagination_color",
                "visible_if": "{{ section.settings.nav_dots == true and section.settings.layout_type == 'carousel' }}",
                "options": [
                    {
                        "value": "pagination-light",
                        "label": "t:slider.light"
                    },
                    {
                        "value": "",
                        "label": "t:slider.dark"
                    }
                ],
                "default": ""
            },
            {
                "type": "checkbox",
                "id": "nav_scrollbar",
                "label": "t:slider.scrollbar",
                "default": true,
                "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
            },
            {
                "type": "select", 
                "id": "scrollbar_visible",
                "label": "t:slider.scrollbar_visible",
                "visible_if": "{{ section.settings.nav_scrollbar == true and section.settings.layout_type == 'carousel'}}",
                "options": [
                    {
                        "value": "show_only_desktop",
                        "label": "t:slider.hide_desktop"
                    },
                    {
                        "value": "show_only_mobile",
                        "label": "t:slider.hide_mobile"
                    },
                    {
                        "value": "both",
                        "label": "t:slider.both"
                    }
                ],
                "default": "both"
            },
            {
                "type": "select",
                "id": "scrollbar_color",
                "label": "t:slider.scrollbar_color",
                "visible_if": "{{ section.settings.nav_scrollbar == true and section.settings.layout_type == 'carousel'}}",
                "options": [
                    {
                        "value": "light-scrollbar",
                        "label": "t:slider.scrollbar_light"
                    },
                    {
                        "value": "",
                        "label": "t:slider.scrollbar_dark"
                    }
                ],
                "default": ""
            }
        ],
        "presets": [
            {
                "name": "t:names.products_grid",
                "category": "t:categories.products",
                "settings": {
                    "section_top_spacing": "spacing-top-md",
                    "section_top_spacing_ipad": "spacing-top-ipad-md",
                    "section_top_spacing_mobile": "spacing-top-mobile-md",
                    "section_bottom_spacing": "spacing-bottom-md",
                    "section_bottom_spacing_ipad": "spacing-bottom-ipad-md",
                    "section_bottom_spacing_mobile": "spacing-bottom-mobile-md",
                    "featured_collection": "",
                    "max_products": 4,
                    "layout_type": "grid",
                    "columns": 4,
                    "columns_gap": 30,
                    "columns_gap_mobile": 15,
                    "rows_gap": 30,
                    "rows_gap_mobile": 15
                },
                "blocks": {
                    "static-section-header": {
                        "type": "_section-header",
                        "name": "t:names.section_header",
                        "static": true,
                        "settings": {
                            "display": "d-flex",
                            "direction": "flex-md-row",
                            "align_items": "align-items-md-end",
                            "justify_content":"justify-content-md-between",
                            "justify_content_mb": "justify-content-center",
                            "padding_bottom_desktop": "pb-md-6",
                            "padding_bottom_mobile": "pb-5",
                            "padding_left_desktop": "ps-md-3",
                            "padding_right_desktop": "pe-md-3",
                            "padding_left_mobile": "ps-3",
                            "padding_right_mobile": "pe-3"
                        },
                        "blocks": {
                            "group": {
                                "type": "group",
                                "name": "t:names.group",
                                "settings": {
                                    "display": "d-block",
                                    "width":"col-lg-9",
                                    "width_md":"col-md-9",
                                    "padding_left_desktop": "ps-md-0",
                                    "padding_left_mobile": "ps-0",
                                    "padding_right_desktop": "pe-md-0",
                                    "padding_right_mobile": "pe-0",
                                    "padding_bottom_desktop": "pb-md-0",
                                    "padding_bottom_mobile": "pb-3"
                                },
                                "blocks": {
                                    "heading": {
                                        "type": "heading",
                                        "name": "t:names.collection_title",
                                        "settings": {
                                            "text": "<h2>Our Best Sellers</h2>",
                                            "margin_bottom_desktop": "mb-md-3",
                                            "margin_bottom_mobile": "mb-2"
                                        }
                                    },
                                    "text": {
                                        "type": "text",
                                        "settings": {
                                            "text": "<p>Indulge in a lifestyle of luxury and elegance with pieces that speak to yoursuccess and elevate your presence.</p>",
                                            "margin_bottom_desktop": "mb-md-0",
                                            "margin_bottom_mobile": "mb-0"
                                        }
                                    }
                                },
                                "block_order": ["heading", "text"]
                            },
                            "buttons": {
                                "type": "buttons",
                                "settings": {
                                    "label": "Shop All"
                                }
                            }
                        },
                        "block_order": ["group", "buttons"] 
                    },
                    "static-product-card": {
                        "type": "product-card",
                        "name": "t:names.product_card",
                        "static": true,
                        "settings": {
                            "product": "{{ closest.product }}"
                        },
                        "blocks": {
                            "product-image": {
                                "type": "product-image",
                                "name": "t:names.product_image",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "show_secondary_media": true
                                }
                            },
                            "product-title": {
                                "type": "product-title",
                                "name": "t:names.product_information",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "font_size": "fs-lg",
                                    "font_weight": "fw-normal",
                                    "alignment": "text-md-start",
                                    "alignment_mobile": "text-start",
                                    "margin_bottom_desktop": "mb-md-1",
                                    "margin_bottom_mobile": "mb-1",
                                    "margin_top_desktop": "mt-md-0",
                                    "margin_top_mobile": "mt-0"
                                }
                            },
                            "product-sku": {
                                "type": "product-sku",
                                "name": "t:names.product_sku",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "font_size": "fs-lg",
                                    "text_style": "text-uppercase",
                                    "alignment": "text-md-start",
                                    "alignment_mobile": "text-start",
                                    "color": "#666666",
                                    "margin_bottom_desktop": "mb-md-1",
                                    "margin_bottom_mobile": "mb-1",
                                    "margin_top_desktop": "mt-md-0",
                                    "margin_top_mobile": "mt-0"
                                }
                            },
                            "product-price": {
                                "type": "product-price",
                                "name": "t:names.product_price",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "price_font_size": "fs-lg",
                                    "price_font_weight": "fw-normal",
                                    "color": "#0F172B",
                                    "sale_price_font_size": "fs-md",
                                    "sale_price_font_weight": "fw-normal",
                                    "sale_color": "#777777",
                                    "alignment": "text-md-start",
                                    "alignment_mobile": "text-start",
                                    "margin_bottom_desktop": "mb-md-3",
                                    "margin_bottom_mobile": "mb-3",
                                    "margin_top_desktop": "mt-md-0",
                                    "margin_top_mobile": "mt-0"
                                }
                            },
                            "product-form": {
                                "type": "product-form",
                                "name": "t:names.product_form",
                                "settings": {
                                    "product": "{{ closest.product }}"
                                },
                                "blocks": {
                                    "product-variant-picker": {
                                        "type": "_product-variant-picker",
                                        "name": "t:names.swatches",
                                        "settings": {
                                            "product": "{{ closest.product }}",
                                            "margin_bottom_desktop": "mb-md-3",
                                            "margin_bottom_mobile": "mb-3",
                                            "margin_top_desktop": "mt-md-0",
                                            "margin_top_mobile": "mt-0"
                                        }
                                    },
                                    "buy-buttons": {
                                        "type": "_buy-buttons",
                                        "name": "t:names.product_buy_buttons",
                                        "settings": {
                                            "product": "{{ closest.product }}",
                                            "show_dynamic_checkout": false
                                        }
                                    }
                                },
                                "block_order": ["product-variant-picker", "buy-buttons"]
                            }
                        },
                        "block_order": ["product-image", "product-title", "product-sku" , "product-price" , "product-form"]
                    }
                }
            },
            {
                "name": "t:names.products_carousel",
                "category": "t:categories.products",
                "settings": {
                    "right_side_fullwidth": true,
                    "section_top_spacing": "spacing-top-md",
                    "section_top_spacing_ipad": "spacing-top-ipad-md",
                    "section_top_spacing_mobile": "spacing-top-mobile-md",
                    "section_bottom_spacing": "spacing-bottom-md",
                    "section_bottom_spacing_ipad": "spacing-bottom-ipad-md",
                    "section_bottom_spacing_mobile": "spacing-bottom-mobile-md",
                    "featured_collection": "",
                    "layout_type": "carousel",
                    "max_products": 10,
                    "slides_per_view": 5.5,
                    "slides_per_view_mobile": 1.4,
                    "columns_gap": 30,
                    "columns_gap_mobile": 10
                },
                "blocks": { 
                    "static-section-header": {
                        "type": "_section-header",
                        "name": "t:names.section_header",
                        "static": true,
                        "settings": {
                            "display": "d-flex",
                            "direction": "flex-md-row",
                            "align_items": "align-items-md-end",
                            "justify_content":"justify-content-md-between",
                            "justify_content_mb": "justify-content-center",
                            "padding_bottom_desktop": "pb-md-6",
                            "padding_bottom_mobile": "pb-5",
                            "padding_left_desktop": "ps-md-3",
                            "padding_right_desktop": "pe-md-3",
                            "padding_left_mobile": "ps-3",
                            "padding_right_mobile": "pe-3"
                        },
                        "blocks": {
                            "group": {
                                "type": "group",
                                "name": "t:names.group",
                                "settings": {
                                    "display": "d-block",
                                    "width":"col-lg-9",
                                    "width_md":"col-md-9",
                                    "padding_left_desktop": "ps-md-0",
                                    "padding_left_mobile": "ps-0",
                                    "padding_right_desktop": "pe-md-0",
                                    "padding_right_mobile": "pe-0",
                                    "padding_bottom_desktop": "pb-md-0",
                                    "padding_bottom_mobile": "pb-3"
                                },
                                "blocks": {
                                    "heading": {
                                        "type": "heading",
                                        "name": "t:names.collection_title",
                                        "settings": {
                                            "text": "<h2>Our Best Sellers</h2>",
                                            "margin_bottom_desktop": "mb-md-3",
                                            "margin_bottom_mobile": "mb-2"
                                        }
                                    },
                                    "text": {
                                        "type": "text",
                                        "settings": {
                                            "text": "<p>Indulge in a lifestyle of luxury and elegance with pieces that speak to yoursuccess and elevate your presence.</p>",
                                            "margin_bottom_desktop": "mb-md-0",
                                            "margin_bottom_mobile": "mb-0"
                                        }
                                    }
                                },
                                "block_order": ["heading", "text"]
                            },
                            "buttons": {
                                "type": "buttons",
                                "settings": {
                                    "label": "Shop All"
                                }
                            }
                        },
                        "block_order": ["group", "buttons"] 
                    },
                    "static-product-card": {
                        "type": "product-card",
                        "name": "t:names.product_card",
                        "static": true,
                        "settings": {
                            "product": "{{ closest.product }}"
                        },
                        "blocks": {
                            "product-image": {
                                "type": "product-image",
                                "name": "t:names.product_image",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "show_secondary_media": true
                                }
                            },
                            "product-title": {
                                "type": "product-title",
                                "name": "t:names.product_information",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "font_size": "fs-lg",
                                    "font_weight": "fw-normal",
                                    "alignment": "text-md-start",
                                    "alignment_mobile": "text-start",
                                    "margin_bottom_desktop": "mb-md-1",
                                    "margin_bottom_mobile": "mb-1",
                                    "margin_top_desktop": "mt-md-0",
                                    "margin_top_mobile": "mt-0"
                                }
                            },
                            "product-sku": {
                                "type": "product-sku",
                                "name": "t:names.product_sku",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "font_size": "fs-lg",
                                    "text_style": "text-uppercase",
                                    "alignment": "text-md-start",
                                    "alignment_mobile": "text-start",
                                    "color": "#666666",
                                    "margin_bottom_desktop": "mb-md-1",
                                    "margin_bottom_mobile": "mb-1",
                                    "margin_top_desktop": "mt-md-0",
                                    "margin_top_mobile": "mt-0"
                                }
                            },
                            "product-price": {
                                "type": "product-price",
                                "name": "t:names.product_price",
                                "settings": {
                                    "product": "{{ closest.product }}",
                                    "price_font_size": "fs-lg",
                                    "price_font_weight": "fw-normal",
                                    "color": "#0F172B",
                                    "sale_price_font_size": "fs-md",
                                    "sale_price_font_weight": "fw-normal",
                                    "sale_color": "#777777",
                                    "alignment": "text-md-start",
                                    "alignment_mobile": "text-start",
                                    "margin_bottom_desktop": "mb-md-3",
                                    "margin_bottom_mobile": "mb-3",
                                    "margin_top_desktop": "mt-md-0",
                                    "margin_top_mobile": "mt-0"
                                }
                            },
                            "product-form": {
                                "type": "product-form",
                                "name": "t:names.product_form",
                                "settings": {
                                    "product": "{{ closest.product }}"
                                },
                                "blocks": {
                                    "product-variant-picker": {
                                        "type": "_product-variant-picker",
                                        "name": "t:names.swatches",
                                        "settings": {
                                            "product": "{{ closest.product }}",
                                            "margin_bottom_desktop": "mb-md-3",
                                            "margin_bottom_mobile": "mb-3",
                                            "margin_top_desktop": "mt-md-0",
                                            "margin_top_mobile": "mt-0"
                                        }
                                    },
                                    "buy-buttons": {
                                        "type": "_buy-buttons",
                                        "name": "t:names.product_buy_buttons",
                                        "settings": {
                                            "product": "{{ closest.product }}",
                                            "show_dynamic_checkout": false
                                        }
                                    }
                                },
                                "block_order": ["product-variant-picker", "buy-buttons"]
                            }
                        },
                        "block_order": ["product-image", "product-title", "product-sku" , "product-price" , "product-form"]
                    }
                }
            }
        ]
    }
{% endschema %} 
