{% style %}
    .press-article-card .card-img{
        padding-top: 100%;
        position: relative;
    }
    .press-article-card .card-img img,
    .press-article-card .card-img .placeholder-svg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .press-article-card .row > .col-4{
        width: 150px;
    }
    @media (min-width: 500px) {
        .press-article-card .row > .col-4{
            width: 156px;
        }
    }
    @media (min-width: 1450px) {
        .press-article-card .row > .col-4{
            width: 36.28%;
        }
    }
    .press-article-card .article-excerpt{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .press-article-card .article-title{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .press-article-card .article-title a:hover{
        text-decoration: underline !important;
        text-underline-offset: 2px;
    }
    .press-blog-posts swiper-container::part(container)
    {
        overflow: visible !important;
    }
    
{% endstyle %}
    
    {% capture spacing_class_list %}
        {{ section.settings.section_top_spacing }} {{ section.settings.section_top_spacing_ipad }} {{ section.settings.section_top_spacing_mobile }} {{ section.settings.section_bottom_spacing }} {{ section.settings.section_bottom_spacing_ipad }} {{ section.settings.section_bottom_spacing_mobile }}
    {% endcapture %}
    
    <section data-id="{{ section.settings.id_section_header }}" id="{{ section.id }}" data-section-id="{{ section.id }}" class="press-blog-posts {{ spacing_class_list }} overflow-hidden" style="background: {{ section.settings.section_bg_color }};">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">     
            <div class="row {{ section.settings.align_items }} {{ section.settings.justify_content }}">
                {%- content_for 'block', type: '_section-header', id: 'static-section-header' -%}
            </div>      
        </div> 
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} {% if section.settings.right_side_fullwidth %}right-outside-container{% endif %}">
    
            <div class="d-flex flex-column w-100">
                {%- if section.settings.nav_scrollbar -%}
                    <div class="order-2 swiper-scrollbar swiper-scrollbar-{{ section.id }} {{ section.settings.scrollbar_color }} {{ section.settings.scrollbar_visible }} mt-6"></div>
                {%- endif -%}
                {%- if section.settings.nav_dots -%}
                    <div class="swiper-pagination order-2 mt-6 ms-0 swiper-pagination-{{ section.id }} {{ section.settings.pagination_visible }} {{ section.settings.pagination_color }}"></div>
                {%- endif -%}
                <div class="swiper-wrapper__custom">     
                    {%- if section.settings.nav_arrows -%}
                        <div class="custom-swiper-navigation {{ section.settings.nav_arrows_color }} {{ section.settings.nav_arrows_outside }} {{ section.settings.nav_arrows_visible }} {{ section.settings.nav_arrows_size }}">
                            <button class="swiper-button-prev button-prev-{{ section.id }}"><svg aria-hidden="true" focusable="false"><use href="#icon-swiper-arrow-left"></use></svg></button>
                            <button class="swiper-button-next button-next-{{ section.id }}"><svg aria-hidden="true" focusable="false"><use href="#icon-swiper-arrow-right"></use></svg></button>
                        </div>
                    {%- endif -%}   
                    <swiper-container class="w-100"
                        loop="false"
                        grabCursor="true"
                        {%- if section.settings.nav_dots -%}
                            pagination='{
                                "el": ".swiper-pagination-{{ section.id }}",
                                "clickable": true,
                                "type": "bullets"
                            }'
                        {%- endif -%}
                        {%- if section.settings.nav_scrollbar -%}
                            scrollbar='{
                                "el": ".swiper-scrollbar-{{ section.id }}"
                            }'
                        {%- endif -%}
                        {%- if section.settings.nav_arrows -%}
                            navigation='{
                                "nextEl": ".button-next-{{ section.id }}",
                                "prevEl": ".button-prev-{{ section.id }}"
                            }'
                        {%- endif -%}
                        breakpoints='{
                            "200": {
                                "slidesPerView": 1,
                                "spaceBetween": 15
                            },
                            "500": {
                                "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                                "spaceBetween": {{ section.settings.slides_spacing_mobile }}
                            },
                            "768": {
                                "slidesPerView": {{ section.settings.slides_per_view_ipad }},
                                "spaceBetween": {{ section.settings.slides_spacing_ipad }}
                            },
                            "1200": {
                                "slidesPerView": {{ section.settings.slides_per_view }},
                                "spaceBetween": {{ section.settings.slides_spacing }}
                            }
                        }'>
    
                            {%- liquid 
                                assign featured_blog = blogs[section.settings.blog]
                                assign featured_articles = featured_blog.articles | sort: 'published_at' | reverse
                            %}
                            {% if section.settings.blog != blank %}
                                {% for article in featured_articles limit: section.settings.blog_to_show %}
                                    {% liquid 
                                        capture current
                                            cycle 1, 2, 3
                                        endcapture
                                        assign placeholder_image = 'blog-apparel-' | append: current
                                    %}
    
                                    
    
                                    <swiper-slide>
                                        {% render 'press-card-article-generic', 
                                            article: article,
                                            placeholder_image: placeholder_image %}
                                    </swiper-slide>
                                {% endfor %}
                            {% else %}
                                {% for i in (1..3) -%}
                                    {% liquid 
                                        capture current
                                            cycle 1, 2, 3
                                        endcapture
                                        assign placeholder_image = 'blog-apparel-' | append: current
                                    %}
                                    <swiper-slide>
                                        <div class="card bg-white article-card border-0">
                                            <div class="card-img d-block">
                                                {% render 'placeholder-image' %}
                                            </div>
                                            <div class="card-body px-0 text-start">
                                                <h4 class="h6 fw-medium lh-base text-capitalize">{{ 'sections.featured_blog.onboarding_title' | t }}</h4>
                                                <p>{{ 'sections.featured_blog.onboarding_content' | t }}</p>
                                            </div>
                                        </div>
                                    </swiper-slide>
                                {% endfor %}
                            {% endif %}
                
                    </swiper-container>
                </div>
            </div>    
        </div>
        {% if section.blocks.size > 0 %}
            <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">     
                <div class="row {{ section.settings.align_items }} {{ section.settings.justify_content }}">
                    {%  content_for 'blocks' %}
                </div>      
            </div> 
        {% endif %}
    
    </section>
    
    {% schema %}
      {
            "name": "Press Blog Posts",
            "blocks": [{ "type": "@theme" }, { "type": "@app" }],
            "disabled_on": {
                "groups": [
                    "footer",
                    "header"
                ]
            },
            "settings": [
                {
                    "type": "header",
                    "content": "Layout"
                },
                {
                    "type": "checkbox",
                    "id": "fluid_layout",
                    "label": "Full Width Layout",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "right_side_fullwidth",
                    "label": "Right side is out of the container",
                    "default": false
                },
                {
                    "type": "header",
                    "content": "t:spacing.section_spacing"
                },
                {
                    "type": "select",
                    "id": "section_top_spacing",
                    "label": "t:spacing.desktop_top_spacing",
                    "options": [
                        {
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "spacing-top-xs",
                            "label": "t:spacing.tight"
                        },
                        {
                            "value": "spacing-top-sm",
                            "label": "t:spacing.standard"
                        },
                        {
                            "value": "spacing-top-md",
                            "label": "t:spacing.spacious"
                        },
                        {
                            "value": "spacing-top-lg",
                            "label": "t:spacing.extra_spacious"
                        }
                    ],
                    "default": "spacing-top-sm"
                },
                {
                    "type": "select",
                    "id": "section_top_spacing_ipad",
                    "label": "t:spacing.ipad_top_spacing",
                    "options": [
                        {
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "spacing-top-ipad-xs",
                            "label": "t:spacing.tight"
                        },
                        {
                            "value": "spacing-top-ipad-sm",
                            "label": "t:spacing.standard"
                        },
                        {
                            "value": "spacing-top-ipad-md",
                            "label": "t:spacing.spacious"
                        },
                        {
                            "value": "spacing-top-ipad-lg",
                            "label": "t:spacing.extra_spacious"
                        }
                    ],
                    "default": "spacing-top-ipad-sm"
                },
                {
                    "type": "select",
                    "id": "section_top_spacing_mobile",
                    "label": "t:spacing.mobile_top_spacing",
                    "options": [
                        {
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "spacing-top-mobile-xs",
                            "label": "t:spacing.tight"
                        },
                        {
                            "value": "spacing-top-mobile-sm",
                            "label": "t:spacing.standard"
                        },
                        {
                            "value": "spacing-top-mobile-md",
                            "label": "t:spacing.spacious"
                        },
                        {
                            "value": "spacing-top-mobile-lg",
                            "label": "t:spacing.extra_spacious"
                        }
                    ],
                    "default": "spacing-top-mobile-sm"
                },
                {
                    "type": "select",
                    "id": "section_bottom_spacing",
                    "label": "t:spacing.desktop_bottom_spacing",
                    "options": [
                        {
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "spacing-bottom-xs",
                            "label": "t:spacing.tight"
                        },
                        {
                            "value": "spacing-bottom-sm",
                            "label": "t:spacing.standard"
                        },
                        {
                            "value": "spacing-bottom-md",
                            "label": "t:spacing.spacious"
                        },
                        {
                            "value": "spacing-bottom-lg",
                            "label": "t:spacing.extra_spacious"
                        }
                    ],
                    "default": "spacing-bottom-sm"
                },
                {
                    "type": "select",
                    "id": "section_bottom_spacing_ipad",
                    "label": "t:spacing.ipad_bottom_spacing",
                    "options": [
                        {
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "spacing-bottom-ipad-xs",
                            "label": "t:spacing.tight"
                        },
                        {
                            "value": "spacing-bottom-ipad-sm",
                            "label": "t:spacing.standard"
                        },
                        {
                            "value": "spacing-bottom-ipad-md",
                            "label": "t:spacing.spacious"
                        },
                        {
                            "value": "spacing-bottom-ipad-lg",
                            "label": "t:spacing.extra_spacious"
                        }
                    ],
                    "default": "spacing-bottom-ipad-sm"
                },
                {
                    "type": "select",
                    "id": "section_bottom_spacing_mobile",
                    "label": "t:spacing.mobile_bottom_spacing",
                    "options": [
                        {
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "spacing-bottom-mobile-xs",
                            "label": "t:spacing.tight"
                        },
                        {
                            "value": "spacing-bottom-mobile-sm",
                            "label": "t:spacing.standard"
                        },
                        {
                            "value": "spacing-bottom-mobile-md",
                            "label": "t:spacing.spacious"
                        },
                        {
                            "value": "spacing-bottom-mobile-lg",
                            "label": "t:spacing.extra_spacious"
                        }
                    ],
                    "default": "spacing-bottom-mobile-sm"
                }, 
                {
                    "type": "header",
                    "content": "Source Blogs"
                },
                {
                    "type": "blog",
                    "id": "blog",
                    "label": "Select Blog"
                },
                {
                    "type": "range",
                    "id": "blog_to_show",
                    "label": "Blog Post Show",
                    "min": 0,
                    "max": 8,
                    "step": 1,
                    "default": 3
                },
                {
                    "type": "header",
                    "content": "Styling"
                },
                {
                    "type": "color_background",
                    "id": "section_bg_color",
                    "label": "t:settings.background_color",
                    "default": "#ffffff"
                },
                {
                    "type": "header",
                    "content": "Carousel Slider Options"
                },
                {
                    "type": "range",
                    "id": "slides_per_view",
                    "label": "t:slider.slides_view_desktop",
                    "min": 1,
                    "max": 8,
                    "step": 0.1,
                    "default": 4
                },
                {
                    "type": "range",
                    "id": "slides_spacing",
                    "label": "t:settings.horizontal_gap",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 30
                },
                {
                    "type": "range",
                    "id": "slides_per_view_ipad",
                    "label": "t:slider.slides_view_ipad",
                    "min": 1,
                    "max": 8,
                    "step": 0.1,
                    "default": 2.2
                },
                {
                    "type": "range",
                    "id": "slides_spacing_ipad",
                    "label": "t:slider.slides_spacing_ipad",
                    "min": 1,
                    "max": 50,
                    "step": 1,
                    "default": 20
                },
                {
                    "type": "range",
                    "id": "slides_per_view_mobile",
                    "label": "t:slider.slides_view_mobile",
                    "min": 1,
                    "max": 8,
                    "step": 0.1,
                    "default": 2
                },
                {
                    "type": "range",
                    "id": "slides_spacing_mobile",
                    "label": "t:settings.horizontal_gap_mobile",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 15
                },
                {
                    "type": "checkbox", 
                    "id": "nav_arrows",
                    "label": "t:slider.navigation_arrows",
                    "default": false
                },
                {
                    "type": "select", 
                    "id": "nav_arrows_visible",
                    "label": "t:slider.navigation_arrows_visible",
                    "visible_if": "{{ section.settings.nav_arrows == true }}",
                    "options": [
                        {
                            "value": "show_only_desktop",
                            "label": "t:slider.hide_desktop"
                        },
                        {
                            "value": "show_only_mobile",
                            "label": "t:slider.hide_mobile"
                        },
                        {
                            "value": "both",
                            "label": "t:slider.both"
                        }
                    ],
                    "default": "both"
                },
                {
                    "type": "select",
                    "id": "nav_arrows_color",
                    "label": "t:slider.navigation_arrows_color",
                    "visible_if": "{{ section.settings.nav_arrows == true }}",
                    "options": [
                        {
                            "value": "light-arrow",
                            "label": "t:slider.light"
                        },
                        {
                            "value": "",
                            "label": "t:slider.dark"
                        }
                    ],
                    "default": ""
                },
                {
                    "type": "select",
                    "id": "nav_arrows_size",
                    "label": "t:slider.navigation_arrows_size",
                    "visible_if": "{{ section.settings.nav_arrows == true }}",
                    "options": [
                        {
                            "value": "arrow-small",
                            "label": "t:slider.size_small"
                        },
                        {
                            "value": "",
                            "label": "t:slider.size_default"
                        }
                    ],
                    "default": ""
                },
                {
                    "type": "select", 
                    "id": "nav_arrows_outside",
                    "label": "t:slider.navigation_arrows_position",
                    "visible_if": "{{ section.settings.nav_arrows == true }}",
                    "options": [
                        {
                            "value": "inside",
                            "label": "t:slider.navigation_arrows_inside"
                        },
                        {
                            "value": "outside",
                            "label": "t:slider.navigation_arrows_outside"
                        }
                    ],
                    "default": "inside"
                },
                {
                    "type": "checkbox",
                    "id": "nav_dots",
                    "label": "t:slider.pagination",
                    "default": false
                },
                {
                    "type": "select", 
                    "id": "pagination_visible",
                    "label": "t:slider.pagination_visible",
                    "visible_if": "{{ section.settings.nav_dots == true  }}",
                    "options": [
                        {
                            "value": "show_only_desktop",
                            "label": "t:slider.hide_desktop"
                        },
                        {
                            "value": "show_only_mobile",
                            "label": "t:slider.hide_mobile"
                        },
                        {
                            "value": "both",
                            "label": "t:slider.both"
                        }
                    ],
                    "default": "both"
                },
                {
                    "type": "select",
                    "id": "pagination_color",
                    "label": "t:slider.pagination_color",
                    "visible_if": "{{ section.settings.nav_dots == true  }}",
                    "options": [
                        {
                            "value": "pagination-light",
                            "label": "t:slider.light"
                        },
                        {
                            "value": "",
                            "label": "t:slider.dark"
                        }
                    ],
                    "default": ""
                },
                {
                    "type": "checkbox",
                    "id": "nav_scrollbar",
                    "label": "t:slider.scrollbar",
                    "default": false
                },
                {
                    "type": "select", 
                    "id": "scrollbar_visible",
                    "label": "t:slider.scrollbar_visible",
                    "visible_if": "{{ section.settings.nav_scrollbar == true }}",
                    "options": [
                        {
                            "value": "show_only_desktop",
                            "label": "t:slider.hide_desktop"
                        },
                        {
                            "value": "show_only_mobile",
                            "label": "t:slider.hide_mobile"
                        },
                        {
                            "value": "both",
                            "label": "t:slider.both"
                        }
                    ],
                    "default": "both"
                },
                {
                    "type": "select",
                    "id": "scrollbar_color",
                    "label": "t:slider.scrollbar_color",
                    "visible_if": "{{ section.settings.nav_scrollbar == true }}",
                    "options": [
                        {
                            "value": "light-scrollbar",
                            "label": "t:slider.scrollbar_light"
                        },
                        {
                            "value": "",
                            "label": "t:slider.scrollbar_dark"
                        }
                    ],
                    "default": ""
                },
                {
                    "type": "text",
                    "id": "id_section_header",
                    "label": "Custom ID Added here",
                    "info": "If you want to add a custom ID to the section, add it here. This will be added to the section header as a data attribute."
                }
            ],
            "presets": [
                {
                    "name": "Press Blog Posts",
                    "category": "Featured",
                    "settings": {
                        "section_top_spacing": "spacing-top-md",
                        "section_top_spacing_ipad": "spacing-top-ipad-md",
                        "section_top_spacing_mobile": "spacing-top-mobile-md",
                        "section_bottom_spacing": "spacing-bottom-md",
                        "section_bottom_spacing_ipad": "spacing-bottom-ipad-md",
                        "section_bottom_spacing_mobile": "spacing-bottom-mobile-md",
                        "blog_to_show": 4,
                        "slides_per_view": 3,
                        "slides_per_view_mobile": 1.8,
                        "slides_spacing": 30,
                        "slides_spacing_mobile": 15,
                        "nav_arrows": true
                    },
                    "blocks": {
                        "static-section-header": {
                            "type": "_section-header",
                            "name": "t:names.section_header",
                            "static": true,
                            "settings": {
                                "display": "d-flex",
                                "direction": "flex-md-row",
                                "align_items": "align-items-md-end",
                                "justify_content":"justify-content-md-between",
                                "justify_content_mb": "justify-content-center",
                                "padding_bottom_desktop": "pb-md-6",
                                "padding_bottom_mobile": "pb-5",
                                "padding_left_desktop": "ps-md-3",
                                "padding_right_desktop": "pe-md-3",
                                "padding_left_mobile": "ps-3",
                                "padding_right_mobile": "pe-3"
                            },
                            "blocks": {
                                "group": {
                                    "type": "group",
                                    "name": "t:names.group",
                                    "settings": {
                                        "display": "d-block",
                                        "width":"col-lg-9",
                                        "width_md":"col-md-9",
                                        "padding_left_desktop": "ps-md-0",
                                        "padding_left_mobile": "ps-0",
                                        "padding_right_desktop": "pe-md-0",
                                        "padding_right_mobile": "pe-0",
                                        "padding_bottom_desktop": "pb-md-0",
                                        "padding_bottom_mobile": "pb-0"
                                    },
                                    "blocks": {
                                        "heading": {
                                            "type": "heading",
                                            "settings": {
                                                "text": "<h2>Featured Blog</h2>",
                                                "margin_bottom_desktop": "mb-md-3",
                                                "margin_bottom_mobile": "mb-2"
                                            }
                                        },
                                        "text": {
                                            "type": "text",
                                            "settings": {
                                                "text": "<p>Read through the most loved blog posts from featured blog of the week!</p>",
                                                "margin_bottom_desktop": "mb-md-0",
                                                "margin_bottom_mobile": "mb-0"
                                            }
                                        }
                                    },
                                    "block_order": ["heading", "text"]
                                },
                                "buttons": {
                                    "type": "buttons",
                                    "settings": {
                                        "label": "More Posts"
                                    }
                                }
                            },
                            "block_order": ["group", "buttons"] 
                        }
                    }
                }
            ]
        }
    {% endschema %}
    