{% comment %}
  Plain product grid layout
  Accepts:
  - item: {Object} search item object

  Usage:
  {% render 'card-search-item', item: item %}
{% endcomment %}

<div class="card card-product card-product-style-1 text-start rounded-0 border-0">

    <div class="card-img card-search-item {% if item.featured_image.size == 0 %}bg-gray-300{% endif %}">  
        <a href="{{ item.url }}" title="{{ item.title | escape }}">
          {% if item.object_type == 'product' and item.featured_image.size > 0 %}
            {% assign itemimage = item.featured_image %}
            {% if item.selected_or_first_available_variant.featured_image %}
              {% assign itemimage = item.selected_or_first_available_variant.featured_image %}
            {% endif %}
            <img srcset="
                {%- if itemimage.width >= 360 -%}{{ itemimage | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if itemimage.width >= 533 -%}{{ itemimage | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if itemimage.width >= 720 -%}{{ itemimage | image_url: width: 720 }} 720w,{%- endif -%}
                {{ itemimage | image_url }} {{ itemimage.width }}w"
              src="{{ itemimage | image_url: width: 50 }}"
              sizes="(min-width: {{ settings.container_width }}) {{ settings.container_width | minus: 100 | divided_by: 3 }}px, (min-width: 768px) calc((100vw - 130px) / 2), 50vw"
              loading="lazy"
              class="img-fluid"
              alt="{{ itemimage.alt | default: item.title | escape }}"
              width="{{ itemimage.width }}"
              height="{{ itemimage.width | divided_by: itemimage.aspect_ratio | round }}"
            >
          {% elsif item.image.size > 0 %}
            <img class="img-fluid"
              srcset="
                {%- if item.image.width >= 360 -%}{{ item.image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if item.image.width >= 533 -%}{{ item.image | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if item.image.width >= 720 -%}{{ item.image | image_url: width: 720 }} 720w,{%- endif -%}
                {{ item.image | image_url }} {{ item.image.width }}w"
              src="{{ item.image | image_url: width: 50 }}"  
              sizes="(min-width: {{ settings.container_width }}) {{ settings.container_width | minus: 100 | divided_by: 3 }}px, (min-width: 768px) calc((100vw - 130px) / 2), 50vw"
              loading="lazy"
              width="{{ item.image.width }}"
              height="{{ item.image.width | divided_by: item.image.aspect_ratio | round }}"
              alt="{{ item.image.alt | default: item.title | escape }}"/>
          {% else %}
            {% comment %} {{ placeholder_prefix | append: current | placeholder_svg_tag: 'img-fluid' }} {% endcomment %}
            {% render 'placeholder-image' %}
          {% endif %}
        </a>
    </div>
  
    <div class="card-body px-0 pb-0">
        <div class="font-family-heading fs-md mb-1 text-gray-800 text-uppercase">{{ item.object_type }}</div>
        <h6 class="card-title font-family-heading fs-xl lh-base m-0 mb-1 mb-md-1 mt-1 mt-md-1 product-title-link text-body text-math-auto text-md-start text-start">{{ item.title | link_to: item.url }}</h6>
        {% if item.object_type == 'product' %}
            {% if item.compare_at_price > item.price %}
                <span class="price m-0 p-0 money fs-16-14 fw-normal text-danger">{{ item.price | money }}</span>
                <s class="text-gray-700 m-0 p-0 price money d-inline-block fs-14-12">{{ item.compare_at_price | money }}</s>
            {% else %}
                <span class="price m-0 p-0 money fs-16-14 fw-normal ">{{ item.price | money }}</span>
            {% endif %}
        {% endif %}
        {% unless item.object_type == 'product' %}  
            <p class="mt-3">{{ item.content | strip_html | truncatewords: 15 }}</p>
        {% endunless %}
    </div>
</div>
  
