{% comment %} [START nesting.block_render] {% endcomment %}
{% capture class_list %}
    {{ block.settings.padding_top_desktop }} {{ block.settings.padding_bottom_desktop }} {{ block.settings.padding_left_desktop }} {{ block.settings.padding_right_desktop }} {{ block.settings.padding_top_mobile }} {{ block.settings.padding_bottom_mobile }} {{ block.settings.padding_left_mobile }} {{ block.settings.padding_right_mobile }}
{% endcapture %}

<div class="brand-list {{ block.settings.width }} {{ block.settings.width_md }} {{ block.settings.width_sm }} {{ block.settings.display }} {{ class_list }} {% if block.settings.display == 'd-flex'%}{{ block.settings.direction }} {{ block.settings.direction_mobile }} {{ block.settings.wrap }} {{ block.settings.align_items }} {{ block.settings.justify_content }} {{ block.settings.gap_column }} {{ block.settings.gap_row }} {{ block.settings.gap_column_mobile }} {{ block.settings.gap_row_mobile }} {% endif %}" 
    {{ block.shopify_attributes }} style="background:{{ block.settings.bg_color }}">

    <div class="d-flex flex-column w-100">
        {%- if section.settings.nav_scrollbar -%}
            <div class="order-2 swiper-scrollbar swiper-scrollbar-{{ section.id }} {{ section.settings.scrollbar_color }} {{ section.settings.scrollbar_visible }} mt-6"></div>
        {%- endif -%}
        {%- if section.settings.nav_dots -%}
            <div class="swiper-pagination order-2 mt-6 swiper-pagination-{{ section.id }} {{ section.settings.pagination_visible }} {{ section.settings.pagination_color }}"></div>
        {%- endif -%}

        <div class="swiper-wrapper__custom">     
            {%- if section.settings.nav_arrows -%}
                <div class="custom-swiper-navigation {{ section.settings.nav_arrows_color }} {{ section.settings.nav_arrows_outside }} {{ section.settings.nav_arrows_visible }} {{ section.settings.nav_arrows_size }}">
                    <button class="swiper-button-prev button-prev-{{ section.id }}"><svg aria-hidden="true" focusable="false"><use href="#icon-swiper-arrow-left"></use></svg></button>
                    <button class="swiper-button-next button-next-{{ section.id }}"><svg aria-hidden="true" focusable="false"><use href="#icon-swiper-arrow-right"></use></svg></button>
                </div>
            {%- endif -%}   
            <swiper-container class="logo-list light-scrollbar w-100"
                loop="false"
                grabCursor="true"
                {%- if section.settings.nav_dots -%}
                    pagination='{
                        "el": ".swiper-pagination-{{ section.id }}",
                        "clickable": true,
                        "type": "bullets"
                    }'
                {%- endif -%}
                {%- if section.settings.nav_scrollbar -%}
                    scrollbar='{
                        "el": ".swiper-scrollbar-{{ section.id }}"
                    }'
                {%- endif -%}
                {%- if section.settings.nav_arrows -%}
                    navigation='{
                        "nextEl": ".button-next-{{ section.id }}",
                        "prevEl": ".button-prev-{{ section.id }}"
                    }'
                {%- endif -%}
                breakpoints='{
                    "200": {
                        "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                        "spaceBetween": {{ section.settings.slides_spacing_mobile }}
                    },
                    "768": {
                        "slidesPerView": {{ section.settings.slides_per_view_ipad }},
                        "spaceBetween": {{ section.settings.slides_spacing_ipad }}
                    },
                    "1200": {
                        "slidesPerView": {{ section.settings.slides_per_view }},
                        "spaceBetween": {{ section.settings.slides_spacing }}
                    }
                }'
                >
                    {% content_for 'blocks' %}
            </swiper-container>
        </div>
    </div>


</div>

{% schema %}
    {
        "name": "Brand List",
        "tag": null,
        "blocks": [{ "type": "brand-image" }],
        "settings": [
            {
                "type": "header",
                "content": "Size"
            },
            {
                "type": "select",
                "id": "width",
                "label": "t:settings.width_desktop",
                "options": [
                    {
                        "value": "col-lg-1",
                        "label": "8%"
                    },
                    {
                        "value": "col-lg-2",
                        "label": "16%"
                    },
                    {
                        "value": "col-lg-3",
                        "label": "25%"
                    },
                    {
                        "value": "col-lg-4",
                        "label": "33%"
                    },
                    {
                        "value": "col-lg-5",
                        "label": "41%"
                    },
                    {
                        "value": "col-lg-6",
                        "label": "Half"
                    },
                    {
                        "value": "col-lg-7",
                        "label": "58%"
                    },
                    {
                        "value": "col-lg-8",
                        "label": "66%"
                    },
                    {
                        "value": "col-lg-9",
                        "label": "75%"
                    },
                    {
                        "value": "col-lg-10",
                        "label": "83%"
                    },
                    {
                        "value": "col-lg-11",
                        "label": "92%"
                    },
                    {
                        "value": "col-lg-12",
                        "label": "Full"
                    },
                    {
                        "value": "col-lg-auto",
                        "label": "Auto"
                    }
                ],
                "default": "col-lg-12"
            },
            {
                "type": "select",
                "id": "width_md",
                "label": "t:settings.width_ipad",
                "options": [
                    {
                        "value": "col-md-1",
                        "label": "8%"
                    },
                    {
                        "value": "col-md-2",
                        "label": "16%"
                    },
                    {
                        "value": "col-md-3",
                        "label": "25%"
                    },
                    {
                        "value": "col-md-4",
                        "label": "33%"
                    },
                    {
                        "value": "col-md-5",
                        "label": "41%"
                    },
                    {
                        "value": "col-md-6",
                        "label": "Half"
                    },
                    {
                        "value": "col-md-7",
                        "label": "58%"
                    },
                    {
                        "value": "col-md-8",
                        "label": "66%"
                    },
                    {
                        "value": "col-md-9",
                        "label": "75%"
                    },
                    {
                        "value": "col-md-10",
                        "label": "83%"
                    },
                    {
                        "value": "col-md-11",
                        "label": "92%"
                    },
                    {
                        "value": "col-md-12",
                        "label": "Full"
                    },
                    {
                        "value": "col-md-auto",
                        "label": "Auto"
                    }
                ],
                "default": "col-md-12"
            },
            {
                "type": "select",
                "id": "width_sm",
                "label": "t:settings.width_mobile",
                "options": [
                    {
                        "value": "col-1",
                        "label": "8%"
                    },
                    {
                        "value": "col-2",
                        "label": "16%"
                    },
                    {
                        "value": "col-3",
                        "label": "25%"
                    },
                    {
                        "value": "col-4",
                        "label": "33%"
                    },
                    {
                        "value": "col-5",
                        "label": "41%"
                    },
                    {
                        "value": "col-6",
                        "label": "Half"
                    },
                    {
                        "value": "col-7",
                        "label": "58%"
                    },
                    {
                        "value": "col-8",
                        "label": "66%"
                    },
                    {
                        "value": "col-9",
                        "label": "75%"
                    },
                    {
                        "value": "col-10",
                        "label": "83%"
                    },
                    {
                        "value": "col-11",
                        "label": "92%"
                    },
                    {
                        "value": "col-12",
                        "label": "Full"
                    },
                    {
                        "value": "col-auto",
                        "label": "Auto"
                    }
                ],
                "default": "col-12"
            },
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "select",
                "id": "display",
                "label": "t:settings.display",
                "options": [
                    {
                        "value": "d-flex",
                        "label": "Flex"
                    },
                    {
                        "value": "d-block",
                        "label": "Block"
                    },
                    {
                        "value": "d-inline-block",
                        "label": "Inline Block"
                    }
                ],
                "default": "d-flex"
            },
            {
                "type": "select",
                "id": "direction",
                "label": "t:settings.direction",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "flex-md-row",
                        "label": "t:options.horizontal"
                    },
                    {
                        "value": "flex-md-column",
                        "label": "t:options.vertical"
                    }
                ],
                "default": "flex-md-column"
            },
            {
                "type": "select",
                "id": "direction_mobile",
                "label": "t:settings.direction_mobile",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "flex-row",
                        "label": "t:options.horizontal"
                    },
                    {
                        "value": "flex-column",
                        "label": "t:options.vertical"
                    }
                ],
                "default": "flex-column"
            },
            {
                "type": "select",
                "id": "wrap",
                "label": "t:settings.wrap",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "flex-wrap",
                        "label": "Yes"
                    },
                    {
                        "value": "flex-nowrap",
                        "label": "No"
                    }
                ],
                "default": "flex-nowrap"
            },
            {
                "type": "select",
                "id": "align_items",
                "label": "t:settings.align_items_desktop",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "align-items-start",
                        "label": "Start"
                    },
                    {
                        "value": "align-items-center",
                        "label": "Center"
                    },
                    {
                        "value": "align-items-end",
                        "label": "End"
                    }
                ],
                "default": "align-items-start"
            },
            {
                "type": "select",
                "id": "justify_content",
                "label": "t:settings.justify_content_desktop",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "justify-content-start",
                        "label": "Start"
                    },
                    {
                        "value": "justify-content-center",
                        "label": "Center"
                    },
                    {
                        "value": "justify-content-end",
                        "label": "End"
                    },
                    {
                        "value": "justify-content-between",
                        "label": "Between"
                    }
                ],
                "default": "justify-content-start"
            },
            {
                "type":"header",
                "content":"Padding: Desktop"
            },
            {
                "type": "select",
                "id": "padding_top_desktop",
                "label": "Padding Top",
                "options": [
                    {
                        "value": "pt-md-0",
                        "label": "0"
                    },
                    {
                        "value": "pt-md-1",
                        "label": "5"
                    },
                    {
                        "value": "pt-md-2",
                        "label": "10"
                    },
                    {
                        "value": "pt-md-3",
                        "label": "15"
                    },
                    {
                        "value": "pt-md-4",
                        "label": "20"
                    },
                    {
                        "value": "pt-md-5",
                        "label": "25"
                    },
                    {
                        "value": "pt-md-6",
                        "label": "30"
                    },
                    {
                        "value": "pt-md-7",
                        "label": "35"
                    },
                    {
                        "value": "pt-md-8",
                        "label": "40"
                    },
                    {
                        "value": "pt-md-9",
                        "label": "45"
                    },
                    {
                        "value": "pt-md-10",
                        "label": "50"
                    }
                ],
                "default": "pt-md-0"
            },
            {
                "type": "select",
                "id": "padding_bottom_desktop",
                "label": "Padding Bottom",
                "options": [ 
                    {
                        "value": "pb-md-0",
                        "label": "0"
                    },
                    {
                        "value": "pb-md-1",
                        "label": "5"
                    },
                    {
                        "value": "pb-md-2",
                        "label": "10"
                    },
                    {
                        "value": "pb-md-3",
                        "label": "15"
                    },
                    {
                        "value": "pb-md-4",
                        "label": "20"
                    },
                    {
                        "value": "pb-md-5",
                        "label": "25"
                    },
                    {
                        "value": "pb-md-6",
                        "label": "30"
                    },
                    {
                        "value": "pb-md-7",
                        "label": "35"
                    },
                    {
                        "value": "pb-md-8",
                        "label": "40"
                    },
                    {
                        "value": "pb-md-9",
                        "label": "45"
                    },
                    {
                        "value": "pb-md-10",
                        "label": "50"
                    }
                ],
                "default": "pb-md-0"
            },
            {
                "type": "select",
                "id": "padding_left_desktop",
                "label": "Padding Left",
                "options": [
                    {
                        "value": "ps-md-0",
                        "label": "0"
                    },
                    {
                        "value": "ps-md-1",
                        "label": "5"
                    },
                    {
                        "value": "ps-md-2",
                        "label": "10"
                    },
                    {
                        "value": "ps-md-3",
                        "label": "15"
                    },
                    {
                        "value": "ps-md-4",
                        "label": "20"
                    },
                    {
                        "value": "ps-md-5",
                        "label": "25"
                    },
                    {
                        "value": "ps-md-6",
                        "label": "30"
                    },
                    {
                        "value": "ps-md-7",
                        "label": "35"
                    },
                    {
                        "value": "ps-md-8",
                        "label": "40"
                    },
                    {
                        "value": "ps-md-9",
                        "label": "45"
                    },
                    {
                        "value": "ps-md-10",
                        "label": "50"
                    }
                ],
                "default": "ps-md-0"
            },
            {
                "type": "select",
                "id": "padding_right_desktop",
                "label": "Padding Right",
                "options": [
                    {
                        "value": "pe-md-0",
                        "label": "0"
                    },
                    {
                        "value": "pe-md-1",
                        "label": "5"
                    },
                    {
                        "value": "pe-md-2",
                        "label": "10"
                    },
                    {
                        "value": "pe-md-3",
                        "label": "15"
                    },
                    {
                        "value": "pe-md-4",
                        "label": "20"
                    },
                    {
                        "value": "pe-md-5",
                        "label": "25"
                    },
                    {
                        "value": "pe-md-6",
                        "label": "30"
                    },
                    {
                        "value": "pe-md-7",
                        "label": "35"
                    },
                    {
                        "value": "pe-md-8",
                        "label": "40"
                    },
                    {
                        "value": "pe-md-9",
                        "label": "45"
                    },
                    {
                        "value": "pe-md-10",
                        "label": "50"
                    }
                ],
                "default": "pe-md-0"
            },
            {
                "type":"header",
                "content":"Padding: Mobile"
            },
            {
                "type": "select",
                "id": "padding_top_mobile",
                "label": "Padding Top",
                "options": [
                    {
                        "value": "pt-0",
                        "label": "0"
                    },
                    {
                        "value": "pt-1",
                        "label": "5"
                    },
                    {
                        "value": "pt-2",
                        "label": "10"
                    },
                    {
                        "value": "pt-3",
                        "label": "15"
                    },
                    {
                        "value": "pt-4",
                        "label": "20"
                    },
                    {
                        "value": "pt-5",
                        "label": "25"
                    },
                    {
                        "value": "pt-6",
                        "label": "30"
                    },
                    {
                        "value": "pt-7",
                        "label": "35"
                    },
                    {
                        "value": "pt-8",
                        "label": "40"
                    },
                    {
                        "value": "pt-9",
                        "label": "45"
                    },
                    {
                        "value": "pt-10",
                        "label": "50"
                    }
                ],
                "default": "pt-0"
            },
            {
                "type": "select",
                "id": "padding_bottom_mobile",
                "label": "Padding Bottom",
                "options": [
                    {
                        "value": "pb-0",
                        "label": "0"
                    },
                    {
                        "value": "pb-1",
                        "label": "5"
                    },
                    {
                        "value": "pb-2",
                        "label": "10"
                    },
                    {
                        "value": "pb-3",
                        "label": "15"
                    },
                    {
                        "value": "pb-4",
                        "label": "20"
                    },
                    {
                        "value": "pb-5",
                        "label": "25"
                    },
                    {
                        "value": "pb-6",
                        "label": "30"
                    },
                    {
                        "value": "pb-7",
                        "label": "35"
                    },
                    {
                        "value": "pb-8",
                        "label": "40"
                    },
                    {
                        "value": "pb-9",
                        "label": "45"
                    },
                    {
                        "value": "pb-10",
                        "label": "50"
                    }
                ],
                "default": "pb-0"
            },
            {
                "type": "select",
                "id": "padding_left_mobile",
                "label": "Padding Left",
                "options": [
                    {
                        "value": "ps-0",
                        "label": "0"
                    },
                    {
                        "value": "ps-1",
                        "label": "5"
                    },
                    {
                        "value": "ps-2",
                        "label": "10"
                    },
                    {
                        "value": "ps-3",
                        "label": "15"
                    },
                    {
                        "value": "ps-4",
                        "label": "20"
                    },
                    {
                        "value": "ps-5",
                        "label": "25"
                    },
                    {
                        "value": "ps-6",
                        "label": "30"
                    },
                    {
                        "value": "ps-7",
                        "label": "35"
                    },
                    {
                        "value": "ps-8",
                        "label": "40"
                    },
                    {
                        "value": "ps-9",
                        "label": "45"
                    },
                    {
                        "value": "ps-10",
                        "label": "50"
                    }
                ],
                "default": "ps-0"
            },
            {
                "type": "select",
                "id": "padding_right_mobile",
                "label": "Padding Right",
                "options": [
                    {
                        "value": "pe-0",
                        "label": "0"
                    },
                    {
                        "value": "pe-1",
                        "label": "5"
                    },
                    {
                        "value": "pe-2",
                        "label": "10"
                    },
                    {
                        "value": "pe-3",
                        "label": "15"
                    },
                    {
                        "value": "pe-4",
                        "label": "20"
                    },
                    {
                        "value": "pe-5",
                        "label": "25"
                    },
                    {
                        "value": "pe-6",
                        "label": "30"
                    },
                    {
                        "value": "pe-7",
                        "label": "35"
                    },
                    {
                        "value": "pe-8",
                        "label": "40"
                    },
                    {
                        "value": "pe-9",
                        "label": "45"
                    },
                    {
                        "value": "pe-10",
                        "label": "50"
                    }
                ],
                "default": "pe-0"
            },
            {
                "type":"header",
                "content":"Content Spacing",
                "visible_if": "{{ block.settings.display == 'd-flex' }}"
            },
            {
                "type": "select",
                "id": "gap_column",
                "label": "Gap Horizontal",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "column-gap-md-0",
                        "label": "0"
                    },
                    {
                        "value": "column-gap-md-1",
                        "label": "5"
                    },
                    {
                        "value": "column-gap-md-2",
                        "label": "10"
                    },
                    {
                        "value": "column-gap-md-3",
                        "label": "15"
                    },
                    {
                        "value": "column-gap-md-4",
                        "label": "20"
                    },
                    {
                        "value": "column-gap-md-5",
                        "label": "25"
                    },
                    {
                        "value": "column-gap-md-6",
                        "label": "30"
                    },
                    {
                        "value": "column-gap-md-7",
                        "label": "35"
                    },
                    {
                        "value": "column-gap-md-8",
                        "label": "40"
                    },
                    {
                        "value": "column-gap-md-9",
                        "label": "45"
                    },
                    {
                        "value": "column-gap-md-10",
                        "label": "50"
                    }
                ],
                "default": "column-gap-md-0"
            },
            {
                "type": "select",
                "id": "gap_row",
                "label": "Gap Vertical",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "row-gap-md-0",
                        "label": "0"
                    },
                    {
                        "value": "row-gap-md-1",
                        "label": "5"
                    },
                    {
                        "value": "row-gap-md-2",
                        "label": "10"
                    },
                    {
                        "value": "row-gap-md-3",
                        "label": "15"
                    },
                    {
                        "value": "row-gap-md-4",
                        "label": "20"
                    },
                    {
                        "value": "row-gap-md-5",
                        "label": "25"
                    },
                    {
                        "value": "row-gap-md-6",
                        "label": "30"
                    },
                    {
                        "value": "row-gap-md-7",
                        "label": "35"
                    },
                    {
                        "value": "row-gap-md-8",
                        "label": "40"
                    },
                    {
                        "value": "row-gap-md-9",
                        "label": "45"
                    },
                    {
                        "value": "row-gap-md-10",
                        "label": "50"
                    }
                ],
                "default": "row-gap-md-0"
            },
            {
                "type": "select",
                "id": "gap_column_mobile",
                "label": "Gap Horizontal For Mobile",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "column-gap-0",
                        "label": "0"
                    },
                    {
                        "value": "column-gap-1",
                        "label": "5"
                    },
                    {
                        "value": "column-gap-2",
                        "label": "10"
                    },
                    {
                        "value": "column-gap-3",
                        "label": "15"
                    },
                    {
                        "value": "column-gap-4",
                        "label": "20"
                    },
                    {
                        "value": "column-gap-5",
                        "label": "25"
                    },
                    {
                        "value": "column-gap-6",
                        "label": "30"
                    },
                    {
                        "value": "column-gap-7",
                        "label": "35"
                    },
                    {
                        "value": "column-gap-8",
                        "label": "40"
                    },
                    {
                        "value": "column-gap-9",
                        "label": "45"
                    },
                    {
                        "value": "column-gap-10",
                        "label": "50"
                    }
                ],
                "default": "column-gap-0"
            },
            {
                "type": "select",
                "id": "gap_row_mobile",
                "label": "Gap Vertical For Mobile",
                "visible_if": "{{ block.settings.display == 'd-flex' }}",
                "options": [
                    {
                        "value": "row-gap-0",
                        "label": "0"
                    },
                    {
                        "value": "row-gap-1",
                        "label": "5"
                    },
                    {
                        "value": "row-gap-2",
                        "label": "10"
                    },
                    {
                        "value": "row-gap-3",
                        "label": "15"
                    },
                    {
                        "value": "row-gap-4",
                        "label": "20"
                    },
                    {
                        "value": "row-gap-5",
                        "label": "25"
                    },
                    {
                        "value": "row-gap-6",
                        "label": "30"
                    },
                    {
                        "value": "row-gap-7",
                        "label": "35"
                    },
                    {
                        "value": "row-gap-8",
                        "label": "40"
                    },
                    {
                        "value": "row-gap-9",
                        "label": "45"
                    },
                    {
                        "value": "row-gap-10",
                        "label": "50"
                    }
                ],
                "default": "row-gap-0"
            },
            {
                "type":"header",
                "content":"t:names.styles"
            },
            {
                "type": "color_background",
                "id": "bg_color",
                "label": "t:settings.background_color",
                "default": "transparent"
            }
        ],
        "presets": [
            {
                "name": "Brand List",
                "blocks": [
                    {
                        "type": "brand-image" 
                    },
                    {
                        "type": "brand-image" 
                    },
                    {
                        "type": "brand-image" 
                    },
                    {
                        "type": "brand-image" 
                    },
                    {
                        "type": "brand-image" 
                    },
                    {
                        "type": "brand-image" 
                    }
                ]
            }
        ]
    }
{% endschema %}
   