<div class="placeholder-svg" style="background-color: {{ settings.placeholder_bg }};">
   <img src="{{ settings.placeholder_image | image_url }}"  style="opacity: {{ settings.placeholder_opacity }};" class="{{ custom_class }}{{ class }}" width="100" height="100" loading="lazy" alt="Placeholder Image - {{ shop.name }}"/>
</div>