{%- liquid
    assign active_entries = object.filters | map: 'active_values' | compact
    assign price_filter = object.filters | find: 'type', 'price_range'
-%}


<div class="row topbar-filters-wrapper pt-lg-7 pt-2">

    {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <div class="col-12 px-lg-3 px-0 mt-lg-0" style="margin-top: 2px;">
            <div class="d-flex border-top border-bottom">
                {%- if section.settings.enable_filtering -%}
                    <button class="py-xl-5 py-4 px-1 d-flex align-items-center justify-content-center btn btn-link" data-toggleDrawer="storefront-filter-drawer" aria-label="{{ 'general.filters.filter_label' | t }}" aria-expanded="false" aria-controls="storefront-filter-drawer">
                        <svg class="me-2" aria-hidden="true" focusable="false" style="width:17px;height:17px;">
                            <use href="#icon-filter"></use>
                        </svg>
                        <span>{{ 'general.filters.filter_label' | t }}</span>
                    </button>
                {%- endif -%}
                {%- if section.settings.enable_product_result and object.products_count or object.results_count -%}
                    <div class="p-1 px-1 px-lg-2 font-family-heading fw-normal ls-sm lh-11 d-flex align-items-center justify-content-center flex-1 text-center border-start border-end total-products" data-totalProducts>
                        {% assign resultfoundtext = 'general.filters.results_found' | t %}
                        {% if template == "collection" %}
                            {% assign resultfoundtext = 'general.filters.products_found' | t %}
                        {% endif %}
                        <p class="m-0" >{{ object.results_count | default: object.products_count }} {{ resultfoundtext }}</p>
                    </div>
                {%- endif -%}
                {%- if section.settings.enable_sorting -%}
                    <div class="d-none d-lg-flex align-items-center gap-3">
                        {%- render 'products-sorting',
                            sort_options: object.sort_options,
                            sort_by: object.sort_by | default: object.default_sort_by 
                        -%}
                    </div>
                    <button class="d-lg-none fs-md px-lg-9 ps-5 pe-3 py-xl-5 py-4 btn d-flex align-items-center" data-toggleDrawer="{% if section.settings.sorting_type == 'separate_drawer' %}storefront-sort-drawer{% else %}storefront-filter-drawer{% endif %}" 
                        aria-label="{{ 'general.filters.sortby_label' | t }}" aria-expanded="false" aria-controls="{% if section.settings.sorting_type == 'separate_drawer' %}storefront-sort-drawer{% else %}storefront-filter-drawer{% endif %}">
                        <span class="option_txt d-none">{{ selected_sorting.name }}</span>
                        <span class="font-family-heading fw-normal ls-sm lh-11 d-flex me-2">{{ 'templates.collection.sortby_label' | t }}</span>
                        <svg aria-hidden="true" focusable="false" style="width:11px; height:11px;" class="ms-auto"><use href="#icon-arrow-down"></use></svg>
                    </button>
                {%- endif -%} 
            </div>
        </div>
    {%- endif -%}
    
    {%- if section.settings.enable_filtering -%}
        <div class="{% if section.settings.enable_filtering %}col-xl-8 col-lg-8 {% endif %}d-flex align-items-center gap-4"
            data-layout="topbar" id="storefront-filters-parent">
            {%- render 'storefront-filters', 
                object: object,
                filters: object.filters,
                activeEntries: active_entries, 
                priceFilter: price_filter, 
                maxValue: price_filter.max_value.value, minValue: price_filter.min_value.value 
            -%}
        </div>
    {%- endif -%}

    {%- if section.settings.enable_filtering -%}
        {%- render 'active-filters',
            object: object,
            class_list: 'active-filters active-filters-desktop col-12 d-flex flex-wrap gap-2 position-relative pt-lg-9 pt-5 z-1',
            activeEntries: active_entries,
            priceFilter: price_filter,
            maxValue: price_filter.max_value.value, minValue: price_filter.min_value.value
        -%}
    {%- endif -%}
</div>

