{% liquid
  assign product = block.settings.product
%}

<div class="text-{{ block.settings.alignment }}" {{ block.shopify_attributes }}>
    <p class="product__inventory mt-5 mb-0" {{ block.shopify_attributes }} id="Inventory-{{ product.id }}" role="status">
        {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
          {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
            {%- if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold -%}
              <svg width="15" height="15" aria-hidden="true" class="me-2">
                <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(238,148,65, 0.3)"/>
                <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(238,148,65)"/>
              </svg>
              {%- if block.settings.show_inventory_quantity -%}
                {{- 'products.product.inventory_low_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}
              {%- else -%}
                {{- 'products.product.inventory_low_stock' | t -}}
              {%- endif -%}
            {%- else -%}
              <svg width="15" height="15" aria-hidden="true">
                <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)"/>
                <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
              </svg>
              {%- if block.settings.show_inventory_quantity -%}
                {{- 'products.product.inventory_in_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}
              {%- else -%}
                  {{- 'products.product.inventory_in_stock' | t -}}
              {%- endif -%}
            {%- endif -%}
          {%- else -%}
            {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
              <svg width="15" height="15" aria-hidden="true">
                <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)"/>
                <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
              </svg>
              {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
            {%- else -%}
              <svg width="15" height="15" aria-hidden="true">
                <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(200,200,200, 0.3)"/>
                <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(200,200,200)"/>
              </svg>
              {{- 'products.product.inventory_out_of_stock' | t -}}
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      </p>
</div>
  
  {% schema %}
  {
    "name": "Product inventory",
    "tag": null,
    "settings": [
        {
            "type": "checkbox",
            "id": "show_inventory_quantity",
            "label": "Show inventory count",
            "default": true
        },
        {
            "type": "product",
            "id": "product",
            "label": "Product"
        },
        {
            "type": "range",
            "id": "inventory_threshold",
            "label": "Low inventory threshold",
            "min": 0,
            "max": 100,
            "step": 1,
            "info": "Choose 0 to always show in stock if available.",
            "default": 10
        },
        {
            "type": "text_alignment",
            "id": "alignment",
            "label": "Text alignment",
            "default": "left"
        }
    ],
    "presets": [
      {
        "name": "Product inventory",
        "settings": { "product": "{{ closest.product }}" }
      }
    ]
  }
  {% endschema %}
  